<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tecnotek :: Expediente</title>
    <meta charset="utf-8">
    <meta name="description" content="Expediente Electronico para Escuales y Colegios">
    <meta name="keywords" content="tecnotek, expediente">
    <meta name="author" content="Selim Diaz A.">    
    <link rel="stylesheet" href="{{ asset('expediente/css/style.css') }}" type="text/css" media="all" />
    
    <script type="text/javascript" src="{{ asset('expediente/js/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('expediente/js/script.js') }}"></script>
    
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->
</head>
<body>
<!-- PRO Framework Panel Begin -->
<div id="advanced">
    <span class="trigger"><strong></strong><em></em></span>
    <div class="bg_pro">
        <div class="pro_main">
            <a href="" class="pro_logo"></a>
            <ul class="pro_menu">
                <li><a href="{{ path('TecnotekExpedienteBundle_homepage') }}"><img src="images/pro_home.png" alt=""></a></li>
                <li class="current"><a href="#">Accesos<span></span></a>
                    <ul>	
                        <li class="current"><a href="{{ path('_expediente_sysadmin') }}">{% trans %}user.roles.1{% endtrans %}</a></li>
                        <li><a href="{{ path('_expediente_admin') }}">Administrador</a></li>
                        <li><a href="{{ path('_expediente_profesor') }}">Profesor</a></li>
                    </ul>
                </li>
                <li><a href="layouts.html">Contact</a></li>
                <li><a href="typography.html">About Us</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bg_pro2"></div>
</div>
<!-- PRO Framework Panel End -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="constuction-main">
		<div id="constuction-box">
			<div class="inside">
				<div class="inner">
					<h3>Our Website is</h3>
					<h1><strong>Under Construction</strong></h1>
					<p>We'll be here soon with a new website. 
					Estimated time remaining:</p>
					<div id="counter"></div>
					<div class="counter_desc">
						<div class="fleft">Days</div>
						<div class="fleft">Hours</div>
						<div class="fleft">Minutes</div>
						<div class="fleft">Seconds</div>
					</div>
					<form id="newsletter">
						<fieldset>
<div class="fleft"><input type="text" value="Enter your email to subscribe" onFocus="if(this.value=='Enter your email to subscribe'){this.value=''}" onBlur="if(this.value==''){this.value='Enter your email to subscribe'}"></div>
<div class="fleft"><a class="btn" onClick="document.getElementById('newsletter').submit()">Submit</a></div>
						</fieldset>
					</form>
					<div class="constr_social_buttons">
						<ul class="icons_social2">
							<li class="last">
								<div class="g-plusone" data-count="true"></div>
							</li>
							<li>	
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
							</li>
							<li>
								<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>	
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="social_icons">
			<ul>
				<li><a href="" class="normaltip" title="Twitter"><img src="images/constr_icon1.png" alt=""></a></li>
				<li><a href="" class="normaltip" title="Facebook"><img src="images/constr_icon2.png" alt=""></a></li>
				<li><a href="" class="normaltip" title="Google Plus"><img src="images/constr_icon3.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</body>
</html>