{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiante
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left"><h1>{% trans %}label.student.show{% endtrans %}</h1></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_student') }}" class="btn list"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="centeredDiv">
            <div class="formContainer" style="width: 920px;">
                <div id="editContainer">
                    <form class="customForm" id="mainForm" name="mainForm" action="{{ path('_expediente_sysadmin_student_update') }}" method="post">
                        <input type="hidden" id="id" name="id" value="{{ entity.id }}">

                        {{ form_errors(form) }}

                        {{ form_widget(form._token) }}

                        <div class="formErrors">{{ form_errors(form.firstname) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.firstname{% endtrans %}</span>{{ form_widget(form.firstname) }}</label>

                        <div class="formErrors">{{ form_errors(form.lastname) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.lastname{% endtrans %}</span>{{ form_widget(form.lastname) }}</label>

                        <div class="formErrors">{{ form_errors(form.carne) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.carne{% endtrans %}</span>{{ form_widget(form.carne) }}</label>

                        <div class="formErrors">{{ form_errors(form.age) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.age{% endtrans %}</span>{{ form_widget(form.age) }}</label>

                        <div class="formErrors">{{ form_errors(form.gender) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.gender{% endtrans %}</span>{{ form_widget(form.gender) }}</label>

                        <div class="formErrors">{{ form_errors(form.address) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.address{% endtrans %}</span>{{ form_widget(form.address) }}</label>

                        <div class="formErrors">{{ form_errors(form.fatherPhone) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.fatherPhone{% endtrans %}</span>{{ form_widget(form.fatherPhone) }}</label>

                        <div class="formErrors">{{ form_errors(form.motherPhone) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.motherPhone{% endtrans %}</span>{{ form_widget(form.motherPhone) }}</label>

                        <div class="formErrors">{{ form_errors(form.birthday) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.birthday{% endtrans %}</span>{{ form_widget(form.birthday) }}</label>

                        <div class="formErrors">{{ form_errors(form.admission) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.admission{% endtrans %}</span>{{ form_widget(form.admission) }}</label>

                        <div class="formErrors">{{ form_errors(form.identification) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.identification{% endtrans %}</span>{{ form_widget(form.identification) }}</label>

                        <div class="formErrors">{{ form_errors(form.observation) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.observation{% endtrans %}</span>{{ form_widget(form.observation) }}</label>

                        <div class="formErrors">{{ form_errors(form.pickUp) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.pickUp{% endtrans %}</span>{{ form_widget(form.pickUp) }}</label>

                        <div class="formErrors">{{ form_errors(form.leaveTime) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.leaveTime{% endtrans %}</span>{{ form_widget(form.leaveTime) }}</label>

                        <div class="formErrors">{{ form_errors(form.route) }}</div>
                        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.route{% endtrans %}</span>{{ form_widget(form.route) }}</label>

                        <a href="{{ path('_expediente_sysadmin_student_show', {'id': entity.id}) }}" class="left btn delete"><span></span>{% trans %}label.cancelar{% endtrans %}</a>
                        <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="left btn save" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>    
        </div>        
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}