{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiante
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.student.show{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_student') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">
                <form class="custom" id="mainForm" name="mainForm" action="{{ path('_expediente_sysadmin_student_update') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{ entity.id }}">

                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}

                    <fieldset>
                        <legend></legend>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.firstname) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.firstname{% endtrans %}</label>{{ form_widget(form.firstname) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.lastname) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.lastname{% endtrans %}</label>{{ form_widget(form.lastname) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.carne) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.carne{% endtrans %}</label>{{ form_widget(form.carne) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.age) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.age{% endtrans %}</label>{{ form_widget(form.age) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.gender) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.gender{% endtrans %}</label>{{ form_widget(form.gender) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.laterality) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.laterality{% endtrans %}</label>{{ form_widget(form.laterality) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.address) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.address{% endtrans %}</label>{{ form_widget(form.address) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.fatherPhone) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.fatherPhone{% endtrans %}</label>{{ form_widget(form.fatherPhone) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.motherPhone) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.motherPhone{% endtrans %}</label>{{ form_widget(form.motherPhone) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.birthday) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.birthday{% endtrans %}</label>{{ form_widget(form.birthday) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.admission) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.admission{% endtrans %}</label>{{ form_widget(form.admission) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.identification) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.identification{% endtrans %}</label>{{ form_widget(form.identification) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.observation) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.observation{% endtrans %}</label>{{ form_widget(form.observation) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.pickUp) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.pickUp{% endtrans %}</label>{{ form_widget(form.pickUp) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.leaveTime) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.leaveTime{% endtrans %}</label>{{ form_widget(form.leaveTime) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.route) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.route{% endtrans %}</label>{{ form_widget(form.route) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.routeIn) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.routeIn{% endtrans %}</label>{{ form_widget(form.routeIn) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.routeType) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.routeType{% endtrans %}</label>{{ form_widget(form.routeType) }}
                            </div>
                        </div>

                        <div class="formRow ">
                            <div class="large-12 columns buttonsPanel">
                                <a href="{{ path('_expediente_sysadmin_student_show', {'id': entity.id}) }}" class="button success-darker tiny"><span></span>{% trans %}label.cancelar{% endtrans %}</a>
                                <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="button success-darker tiny" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}