{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiante
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/tek_exp_emails.js') }}"></script>
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'#mail-content',
        plugins: [
            'advlist autolink lists link image charmap preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'});</script>
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["removeRelativeURL"] = "{{ path("_expediente_remove_relative") }}";
    Tecnotek.UI.urls["saveNewContactURL"] = "{{ path("_expediente_save_new_contact") }}";
    Tecnotek.UI.urls["getRelativeInfoURL"] = "{{ path("_expediente_sysadmin_get_relative_info") }}";

    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.student.delete{% endtrans %}";
    Tecnotek.UI.translates["confirmRemoveRelative"] = "{% trans %}messages.confirmation.remove.relative{% endtrans %}";
    Tecnotek.StudentShow.translates["emptyFields"] = "{% trans %}messages.empty.fields{% endtrans %}";
    Tecnotek.StudentShow.translates["confirmRelative"] = "{% trans %}messages.confirm.relative{% endtrans %}";

    Tecnotek.module = "emails";

    Tecnotek.UI.urls["edit"] = "{{ path('_expediente_sysadmin_relatives_edit_simple')}}";

    Tecnotek.UI.urls["getContactsURL"] = "{{ path("_expediente_get_contacts_list") }}";
    Tecnotek.UI.urls["associateStudentsURL"] = "{{ path("_expediente_associate_student") }}";

    Tecnotek.UI.urls["associateContactURL"] = "{{ path("_expediente_associate_new_contact") }}";

    /**/
    Tecnotek.UI.urls["loadLevelsOfPeriodURL"] = "{{ path('_expediente_sysadmin_load_period_levels')}}";
    Tecnotek.UI.urls["loadGroupsOfPeriodAndLevelsURL"] = "{{ path('_expediente_sysadmin_load_period_level_groups')}}";
    Tecnotek.UI.urls["loadEmailsURL"] = "{{ path('_expediente_emails_load')}}";
    Tecnotek.UI.urls["sendEmailsURL"] = "{{ path('_expediente_emails_send')}}";

</script>
<!-- basic fancybox setup -->
<script type="text/javascript">
    $(function(){ $(".modalbox").fancybox(); });
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 900px;">
    <div class="grid_24" style="width: 100%;">
        <div style="line-height: 26px;">
            <div class="left" style="width: 70px; font-weight: bold;">{%trans%}label.period{%endtrans%}</div>
            <div id="labelPeriod" class="left">
                <select id="period" name="period" style="width: 150px;">
                    {% for period in periods %}
                    <option {% if period.isActual == '1' %}  selected="selected" {% endif %} value="{{ period.id }}">{{period}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="levelsContainer" class="left" style="margin-left: 50px;">
                <div class="left" style="width: 65px; font-weight: bold;">{%trans%}label.level{%endtrans%}</div>
                <div class="left">
                    <select id="levels" name="levels" style="width: 150px;">
                    </select>
                </div>
            </div>

            <div id="groupsContainer" class="left" style="margin-left: 40px;">
                <div class="left" style="width: 95px; font-weight: bold;">{%trans%}label.group{%endtrans%}</div>
                <div class="left">
                    <select id="groups" name="groups" style="width: 150px;">
                    </select>
                </div>
            </div>

            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right button success-darker tiny"
                    id="btnLoad" name="btnLoad" rel="Calificaciones"><span></span>
                {% trans %}label.get{% endtrans %}</button>
            <div class="clear"></div>
        </div>

        <form class="custom" id="emailForm" name="emailForm" action="" method="post" enctype="multipart/form-data">
        <div id="emails-container" style="width: 100%; margin: auto; text-align: center;">
            <textarea id="emails-ta" readonly style="margin: 0px 0px 7px; width: 90%; height: 300px;">

            </textarea>
        </div>

        <div id="mail-form" class="panelRow" style="width: 90%;">

                <fieldset>
                    <legend>{{ 'label.send.email'|trans }}</legend>
                    <div class="formRow">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label>{{ 'label.subject'|trans }} *</label>
                            </div>
                            <div class="large-12 columns">
                                <input type="text" id="subject" name="subject" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="large-12 columns">
                            <div class="large-12 columns">
                                <label>{{ 'label.content'|trans }}*</label>
                            </div>
                            <div class="large-12 columns">
                                <textarea id="mail-content" name="mail-content"
                                                                style="height: 120px; width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="large-12 columns"  style="margin-top: 10px;">
                            <div class="large-12 columns">
                                <label>{{ 'label.attachment'|trans }}*</label>
                            </div>
                            <div class="large-12 columns">
                                <input type="file" id="attachmentFile" name="attachmentFile"/>
                            </div>
                        </div>
                    </div>
                    <div class="formRow " style="margin: auto; text-align: center;">
                        <div class="large-12 columns buttonsPanel">
                            <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="button success-darker tiny" name="save">
                                <span></span>{% trans %}label.send.email{% endtrans %}</button>
                        </div>
                        <div class="clear"></div>
                    </div>

                </fieldset>

        </div>
        </form>
    </div>
</div>
{% endblock %}