{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiantado
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.module = "entityList";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["show"] = "{{ path('_expediente_sysadmin_student_show_simple')}}";
    Tecnotek.UI.urls["edit"] = "{{ path('_expediente_sysadmin_student_edit_simple')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left"><h1>{% trans %}label.student.listar{% endtrans %}</h1></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_student_create') }}" class="btn add"><span></span>{% trans %}label.add{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>
        
        <div class="row tableHeader">
            <div class="option_width" style="float: left; width: 100px; margin-left: -6px;">
                {{ pagination.sortable('Carne', 's.carne')|raw }}
            </div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">
                {{ pagination.sortable('Nombre', 's.firstname')|raw }}
            </div>
            <div class="option_width" style="float: left; width: 200px; margin-left: -6px;">
                {{ pagination.sortable('Apellidos', 's.lastname')|raw }}
            </div>

            <div class="right"><a style="margin-top: -6px;" href="#" class="btn search" id="btnSearch" name="btnSearch"><span></span>{% trans %}label.search{% endtrans %}</a></div>
            <div class="option_width right" style="margin-top: -4px;">
                <input id="searchText" name="searchText" value="{{ text }}">
            </div>

        </div>
            
        {% set counter = 0 %}   

        {% for entity in pagination %}            
            <div class="row userRow {% if counter%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}" rel="{{ entity.id }}">
                <div class="option_width" style="float: left; width: 100px;">{{ entity.carne }}</div>
                <div class="option_width" style="float: left; width: 200px;">{{ entity.firstname }}</div>
                <div class="option_width" style="float: left; width: 200px;">{{ entity.lastname }}</div>
                <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="{{ entity.id }}"></div>
                <div class="right imageButton viewButton"  title="{% trans %}label.view{% endtrans %}"  rel="{{ entity.id }}"></div>
                <div class="clear"></div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}
        <br/>
    
        <div style="margin-bottom:75px;">
            {# display navigation #}    
            {{ pagination.render()|raw }}
        </div>    
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}