{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiante
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_student", {id: entity.id}) }}";
    Tecnotek.UI.urls["removeRelativeURL"] = "{{ path("_expediente_remove_relative") }}";
    Tecnotek.UI.urls["saveNewContactURL"] = "{{ path("_expediente_save_new_contact") }}";

    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.student.delete{% endtrans %}";
    Tecnotek.UI.translates["confirmRemoveRelative"] = "{% trans %}messages.confirmation.remove.relative{% endtrans %}";
    Tecnotek.StudentShow.translates["emptyFields"] = "{% trans %}messages.empty.fields{% endtrans %}";
    Tecnotek.StudentShow.translates["confirmRelative"] = "{% trans %}messages.confirm.relative{% endtrans %}";

    Tecnotek.module = "showStudent";
    Tecnotek.UI.vars["studentId"] = {{ entity.id }};

    Tecnotek.UI.urls["getContactsURL"] = "{{ path("_expediente_get_contacts_list") }}";
    Tecnotek.UI.urls["associateStudentsURL"] = "{{ path("_expediente_associate_student") }}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left"><h1>{% trans %}label.student.show{% endtrans %}</h1></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_student') }}" class="btn list"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="centeredDiv">
            <!-- Tabs -->
            <div id="tabs" style="height: 600px">
                <nav class="tabs">
                    <div class="tab-header tab-current" id="generalTab">{%trans%}label.general{%endtrans%}</div>
                    <section class="tabs-content" id="generalSection">
                        <!-- -->
                        <div id="showContainer" class="left">
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.firstname{%endtrans%}</div>
                                <div id="labelCode" class="left">{{ entity.firstname }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.lastname{%endtrans%}</div>
                                <div id="labelName" class="left">{{ entity.lastname }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.carne{%endtrans%}</div>
                                <div id="carne" class="left">{{ entity.carne }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.age{%endtrans%}</div>
                                <div id="age" class="left">{{ entity.age }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.gender{%endtrans%}</div>
                                <div id="gender" class="left">{% if entity.gender == 1%}{% trans %}label.male{% endtrans %}{% else %}{% trans %}label.female{% endtrans %}{% endif %}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.address{%endtrans%}</div>
                                <div id="address" class="left">{{ entity.address }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.fatherPhone{%endtrans%}</div>
                                <div id="fatherPhone" class="left">{{ entity.fatherPhone }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.motherPhone{%endtrans%}</div>
                                <div id="motherPhone" class="left">{{ entity.motherPhone }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.birthday{%endtrans%}</div>
                                <div id="birthday" class="left">{{ entity.birthday }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.admission{%endtrans%}</div>
                                <div id="admission" class="left">{{ entity.admission }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.identification{%endtrans%}</div>
                                <div id="identification" class="left">{{ entity.identification }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.observation{%endtrans%}</div>
                                <div id="observation" class="left">{{ entity.observation }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.pickUp{%endtrans%}</div>
                                <div id="pickUp" class="left">{{ entity.pickUp }}</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.leaveTime{%endtrans%}</div>
                                <div id="leaveTime" class="left">{{ entity.leaveTime }}</div>
                                <div class="clear"></div>
                            </div>

                            <div id="buttonsContainer" style="margin-top: 25px;">
                                <a href="{{ path('_expediente_sysadmin_student_edit', {'id': entity.id}) }}" class="left btn edit"><span></span>{% trans %}label.edit{% endtrans %}</a>
                                <div class="left btn delete" id="btnEliminar" style="margin-left: 25px;"><span></span>{% trans %}label.eliminar{% endtrans %}</div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <br/>
                    </section>

                    <div class="tab-header" id="relativesTab">{%trans%}label.relatives.in.student{%endtrans%}</div>
                    <section class="tabs-content" style="display: none;" id="relativesSection">

                        <div class="left" id="relativesList">
                            <div class="row tableHeader">
                                <div class="option_width" style="float: left; width: 200px;">{% trans %}label.name{% endtrans %}</div>
                                <div class="option_width" style="float: left; width: 100px;">{% trans %}label.kinship{% endtrans %}</div>
                            </div>
                            {% set counter = 0 %}

                            {% for relative in relatives %}
                            <div id="relative_row_{{ relative.id }}" class="row userRow" rel="{{ relative.id }}">
                                <div class="option_width" style="float: left; width: 200px;">{{ relative.contact }}</div>
                                <div class="option_width" style="float: left; width: 100px;">{{ relative.description }}</div>
                                <div class="right imageButton deleteButton" style="height: 16px;"  title="{% trans %}label.delete{% endtrans %}"  rel="{{ relative.id }}"></div>
                                <div class="clear"></div>
                            </div>
                            {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>

                        <div class="left" style="margin-left: 50px; font-size: 14px;">

                            <div>{% trans %}student.create.new.contact{%endtrans%}</div>
                            <div style="font-size: 10px;">{% trans %}student.include.help{%endtrans%}</div>
                            <form class="customForm" id="newcontact" action="{{ path('_expediente_sysadmin_club_save') }}" method="post" {{ form_enctype(form) }}>
                                {{ form_errors(form) }}

                                {{ form_widget(form._token) }}

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.firstname{% endtrans %}</span>
                                <input type="text" id="firstname" name="firstname" required="required"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.lastname{% endtrans %}</span>
                                <input type="text" id="lastname" name="lastname" required="required"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.identification{% endtrans %}</span>
                                <input type="text" id="identification" name="identification" required="required"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.phonec{% endtrans %}</span>
                                <input type="text" id="phonec" name="phonec"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.phonew{% endtrans %}</span>
                                <input type="text" id="phonew" name="phonew"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.phoneh{% endtrans %}</span>
                                <input type="text" id="phoneh" name="phoneh"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.workplace{% endtrans %}</span>
                                <input type="text" id="workplace" name="workplace"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.email{% endtrans %}</span>
                                <input type="text" id="email" name="email"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.adress{% endtrans %}</span>
                                <input type="text" id="adress" name="adress"></label>

                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.restriction{% endtrans %}</span>
                                <input type="text" id="restriction" name="restriction" required="required"></label>



                                <label><span class="text-form" style="min-width: 150px;">{% trans %}label.kinship{% endtrans %}</span>
                                    <select id="kinship">
                                        <option value="1">{% trans %}label.father{% endtrans %}</option>
                                        <option value="2">{% trans %}label.mother{% endtrans %}</option>
                                        <option value="3">{% trans %}label.brother{% endtrans %}</option>
                                        <option value="4">{% trans %}label.sister{% endtrans %}</option>
                                        <option value="99">{% trans %}label.other{% endtrans %}</option>
                                    </select></label>

                                <div id="otherDetail" style="display: none;">
                                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.description{% endtrans %}</span>
                                    <input type="text" id="description" name="description" required="required"></label>
                                </div>

                                <button id="asociateButton" style="margin-top: 0px;" type="button" class="right btn save" name="save"><span></span>{% trans %}label.asociate{% endtrans %}</button>
                                <div class="clear"></div>
                            </form>
                            <br/>
                            <hr/>
                            <br/>
                            <form id="searchform">
                                <div>
                                    <div>{% trans %}student.include.contact{%endtrans%}</div>
                                    <div style="font-size: 10px;">{% trans %}student.include.help{%endtrans%}</div><br/>
                                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.kinship{% endtrans %}</span>
                                        <select id="kinship2">
                                            <option value="1">{% trans %}label.father{% endtrans %}</option>
                                            <option value="2">{% trans %}label.mother{% endtrans %}</option>
                                            <option value="3">{% trans %}label.brother{% endtrans %}</option>
                                            <option value="4">{% trans %}label.sister{% endtrans %}</option>
                                            <option value="99">{% trans %}label.other{% endtrans %}</option>
                                        </select>
                                    </label><br/><br/>
                                    <input type="text" size="30" value="" id="searchBox"/>
                                </div>
                                <div id="suggestions"></div>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </section>
                </nav>
            </div>
            <!-- End Tabs -->
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
        <div class="grid_24 padline">
            <div class="lineH"></div>
        </div>
    </div>
</div>
{% endblock %}