{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Estudiante
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_student", {id: entity.id}) }}";
    Tecnotek.UI.urls["removeRelativeURL"] = "{{ path("_expediente_remove_relative") }}";
    Tecnotek.UI.urls["saveNewContactURL"] = "{{ path("_expediente_save_new_contact") }}";
    Tecnotek.UI.urls["getRelativeInfoURL"] = "{{ path("_expediente_sysadmin_get_relative_info") }}";

    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.student.delete{% endtrans %}";
    Tecnotek.UI.translates["confirmRemoveRelative"] = "{% trans %}messages.confirmation.remove.relative{% endtrans %}";
    Tecnotek.StudentShow.translates["emptyFields"] = "{% trans %}messages.empty.fields{% endtrans %}";
    Tecnotek.StudentShow.translates["confirmRelative"] = "{% trans %}messages.confirm.relative{% endtrans %}";

    Tecnotek.module = "showStudent";
    Tecnotek.UI.vars["studentId"] = {{ entity.id }};

    Tecnotek.UI.urls["getContactsURL"] = "{{ path("_expediente_get_contacts_list") }}";
    Tecnotek.UI.urls["associateStudentsURL"] = "{{ path("_expediente_associate_student") }}";

    Tecnotek.UI.urls["associateContactURL"] = "{{ path("_expediente_associate_new_contact") }}";


</script>
<!-- basic fancybox setup -->
<script type="text/javascript">
    $(function(){ $(".modalbox").fancybox(); });
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 900px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.student.show{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_student') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>
        <!-- -->
        <div class="section-container auto" data-section>
            <section class="section">
                <p class="title"><a href="#panel1">{%trans%}label.general{%endtrans%}</a></p>
                <div class="content">
                    <div id="showContainer">
                        <div>
                            <label>{%trans%}label.firstname{%endtrans%}</label>
                            <span id="labelFirstname">{{ entity.firstname }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.lastname{%endtrans%}</label>
                            <span id="labelName">{{ entity.lastname }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.carne{%endtrans%}</label>
                            <span id="labelCarne">{{ entity.carne }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.age{%endtrans%}</label>
                            <span id="labelAge">{{ entity.age }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.gender{%endtrans%}</label>
                            <span id="labelGender">{% if entity.gender == 1%}{% trans %}label.male{% endtrans %}{% else %}{% trans %}label.female{% endtrans %}{% endif %}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.address{%endtrans%}</label>
                            <span id="labelAddress">{{ entity.address }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.fatherPhone{%endtrans%}</label>
                            <span id="labelFatherPhone">{{ entity.fatherPhone }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.motherPhone{%endtrans%}</label>
                            <span id="labelMotherPhone">{{ entity.motherPhone }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.birthday{%endtrans%}</label>
                            <span id="labelBirthday">{{ entity.birthday }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.admission{%endtrans%}</label>
                            <span id="labelAdmission">{{ entity.admission }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.identification{%endtrans%}</label>
                            <span id="labelIdentification">{{ entity.identification }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.observation{%endtrans%}</label>
                            <span id="labelObservation">{{ entity.observation }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.pickUp{%endtrans%}</label>
                            <span id="labelPickUp">{{ entity.pickUp }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.leaveTime{%endtrans%}</label>
                            <span id="labelLeaveTime">{{ entity.leaveTime }}</span>
                        </div>

                        <div id="buttonsContainer" style="margin-top: 25px;">
                            <a href="{{ path('_expediente_sysadmin_student_edit', {'id': entity.id}) }}" class="left button success-darker tiny"><span></span>{% trans %}label.edit{% endtrans %}</a>
                            <div class="left button success-darker tiny" id="btnEliminar" style="margin-left: 25px;"><span></span>{% trans %}label.eliminar{% endtrans %}</div>
                            <div class="clear"></div>
                        </div>


                    </div>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel2">{%trans%}label.relatives.in.student{%endtrans%}</a></p>
                <div class="content">
                    <div class="left" style="width: 510px;">
                        <div class="table" id="relativesList">
                            <div class="row tableHeader" style="padding: 0px;">
                                <div class="option_width" style="float: left; width: 325px;">{% trans %}label.name{% endtrans %}</div>
                                <div class="option_width" style="float: left; width: 100px;">{% trans %}label.kinship{% endtrans %}</div>
                            </div>
                            {% set counter = 0 %}

                            {% for relative in relatives %}
                            <div id="relative_row_{{ relative.id }}" class="row" rel="{{ relative.id }}" style="padding: 0px; font-size: 10px;">
                                <div class="" style="float: left; width: 325px;">{{ relative.contact }}</div>
                                <div class="" style="float: left; width: 100px;">{{ relative.description }}</div>
                                <div class="right imageButton deleteButton" style="height: 16px;"  title="{% trans %}label.delete{% endtrans %}"  rel="{{ relative.id }}"></div>
                                <div class="right imageButton viewButton" style="height: 16px;"  title="{% trans %}label.view{% endtrans %}"  rel="{{ relative.id }}"></div>
                                <div class="clear"></div>
                            </div>
                            {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>

                        <div class="table" style="padding: 5px; margin-top: 10px;">
                            <form id="searchform" class="customForm">
                                <div>
                                    <div>{% trans %}student.include.contact{%endtrans%}</div>
                                    <div style="font-size: 10px;">{% trans %}student.include.help{%endtrans%}</div><br/>
                                    <label><span class="text-form" style="display: inline-block; width: 75px;min-width: 75px;">{% trans %}label.kinship{% endtrans %}</span>
                                        <select id="kinship2">
                                            <option value="1">{% trans %}label.father{% endtrans %}</option>
                                            <option value="2">{% trans %}label.mother{% endtrans %}</option>
                                            <option value="3">{% trans %}label.brother{% endtrans %}</option>
                                            <option value="4">{% trans %}label.sister{% endtrans %}</option>
                                            <option value="99">{% trans %}label.other{% endtrans %}</option>
                                        </select>
                                    </label>
                                    <label><span class="text-form" style="display: inline-block; width: 75px;min-width: 75px;">{% trans %}label.name{% endtrans %}</span>
                                        <input type="text" size="30" value="" id="searchBox" style="margin: 0;"/></label>

                                </div>
                                <div id="suggestions"></div>
                            </form>
                        </div>
                    </div>

                    <div class="left" style="margin-left: 10px; font-size: 14px; width: 345px;">
                        <div class="table" style="padding: 5px;">
                            <div>{% trans %}student.create.new.contact{%endtrans%}</div>
                            <form class="customF" id="newcontact" action="{{ path('_expediente_sysadmin_club_save') }}" method="post" {{ form_enctype(form) }}>
                                {{ form_errors(form) }}

                                {{ form_widget(form._token) }}

                                <label style=""><span class="text-form" style="display: inline-block; width: 125px; min-width: 125px;">{% trans %}label.firstname{% endtrans %}</span>
                                    <input type="text" id="firstname" name="firstname" required="required" style="margin: 0; width: 200px;"></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.lastname{% endtrans %}</span>
                                    <input type="text" id="lastname" name="lastname" required="required" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.identification{% endtrans %}</span>
                                    <input type="text" id="identification" name="identification" required="required" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.phonec{% endtrans %}</span>
                                    <input type="text" id="phonec" name="phonec" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.phonew{% endtrans %}</span>
                                    <input type="text" id="phonew" name="phonew" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.phoneh{% endtrans %}</span>
                                    <input type="text" id="phoneh" name="phoneh" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.workplace{% endtrans %}</span>
                                    <input type="text" id="workplace" name="workplace" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.email{% endtrans %}</span>
                                    <input type="text" id="email" name="email" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.adress{% endtrans %}</span>
                                    <input type="text" id="adress" name="adress" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px;min-width: 125px;">{% trans %}label.restriction{% endtrans %}</span>
                                    <input type="text" id="restriction" name="restriction" required="required" style="margin: 0; width: 200px;""></label>

                                <label><span class="text-form" style="display: inline-block; width: 125px; min-width: 125px;">{% trans %}label.kinship{% endtrans %}</span>
                                    <select id="kinship" style="width: 200px;"">
                                        <option value="1">{% trans %}label.father{% endtrans %}</option>
                                        <option value="2">{% trans %}label.mother{% endtrans %}</option>
                                        <option value="3">{% trans %}label.brother{% endtrans %}</option>
                                        <option value="4">{% trans %}label.sister{% endtrans %}</option>
                                        <option value="99">{% trans %}label.other{% endtrans %}</option>
                                    </select></label>

                                <div id="otherDetail" style="display: none;">
                                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.description{% endtrans %}</span>
                                        <input type="text" id="description" name="description" required="required"></label>
                                </div>

                                <button id="asociateButton" style="margin-top: 0px;" type="button" class="right button success-darker tiny" name="save"><span></span>{% trans %}label.asociate{% endtrans %}</button>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>


                    <div class="clear"></div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- hidden inline form -->
<a id="showContactInfoLink" style="display: none;" class="modalbox" href="#inline"> </a>
<div id="inline" style="width: 550px;">
    <h3>Informaci&oacute;n de Contacto</h3>
    <div id="contactContainer" name="contactContainer" class="contactInfo">

    </div>
</div>


{% endblock %}