{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        {% if is_granted('ROLE_SUPERADMIN') %}
        <div class="services first">
            <a href="route">
                <em>
                    <img src="{{ asset('images/1page_img1.png') }}" alt="">
                    <img src="{{ asset('images/1page_img1-hover.png') }}" alt="" class="image-hover">
                </em>
                <span>Clubes <strong>Transporte</strong></span>
            </a>
        </div>
        <div class="services">
            <a href="ticket">
                <em>
                    <img src="{{ asset('images/1page_img2.png') }}" alt="">
                    <img src="{{ asset('images/1page_img2-hover.png') }}" alt="" class="image-hover">
                </em>
                <span>Boletas <strong></strong></span>
            </a>
        </div>
        <div class="services">
            <a href="qualifications">
                <em>
                    <img src="{{ asset('images/1page_img3.png') }}" alt="">
                    <img src="{{ asset('images/1page_img3-hover.png') }}" alt="" class="image-hover">
                </em>
                <span>Calificaciones <strong></strong></span>
            </a>
        </div>
        <div class="services">
            <a href="more.html">
                <em>
                    <img src="{{ asset('images/1page_img4.png') }}" alt="">
                    <img src="{{ asset('images/1page_img4-hover.png') }}" alt="" class="image-hover">
                </em>
                <span>Reportes <strong>Notas</strong></span>
            </a>
        </div>
        <div class="services last">
            <a href="period">
                <em>
                    <img src="{{ asset('images/1page_img5.png') }}" alt="">
                    <img src="{{ asset('images/1page_img5-hover.png') }}" alt="" class="image-hover">
                </em>
                <span>Mantenimientos <strong>Curso Lectivo</strong></span>
            </a>
        </div>
        {% else %}
        {% if is_granted('ROLE_PROFESOR') %}
        <div style="margin: 0 auto; width: 420px;">

            <div class="services">
                <a href="{{ path('_expediente_teacher_qualifications') }}">
                    <em>
                        <img src="{{ asset('images/1page_img4.png') }}" alt="">
                        <img src="{{ asset('images/1page_img4-hover.png') }}" alt="" class="image-hover">
                    </em>
                    <span>Ingreso <strong>Notas</strong></span>
                </a>
            </div>
            <div class="services last">
                <a href="{{ path('_expediente_teacher_course_entries') }}">
                    <em>
                        <img src="{{ asset('images/1page_img5.png') }}" alt="">
                        <img src="{{ asset('images/1page_img5-hover.png') }}" alt="" class="image-hover">
                    </em>
                    <span>Mantenimientos <strong>Rubros</strong></span>
                </a>
            </div>
        </div>

        {% else %}
        {% endif %}
        {% endif %}

            <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <br/>
    <div class="grid_24 padline">
        <div class="lineH"></div>
    </div>

    <div class="large-12 columns">
        <div class="grid_8" style="text-align: center;">
            <h2>Kinder</h2>
            <a class="th" href="http://tioconejo.net/" target="_blank"><img src="{{ asset('saintmichael/images/logo_conejo.jpe') }}" data-caption="" width="175px" height="150px"></a>
            <p class="pad">Espacio Reservado.</p>
            <a href="" target="_blank" class="button tiny">Ir al Sitio</a>
        </div>
        <div class="grid_8"  style="text-align: center;">
            <h2>Escuela</h2>
            <a class="th" href="http://saintmichaelcr.net/" target="_blank"><img src="{{ asset('saintmichael/images/logo_saint.png') }}" data-caption="" width="175px" height="150px"></a>
            <p class="pad">Espacio Reservado.</p>
            <a href="http://saintmichaelcr.net/" target="_blank" class="button tiny">Ir al Sitio</a>
        </div>
        <div class="grid_8" style="text-align: center;">
            <h2>Colegio</h2>
            <a class="th" href="http://saintmichaelcr.net/" target="_blank"><img src="{{ asset('saintmichael/images/logo_saint.png') }}" data-caption="" width="175px" height="150px"></a>
            <p class="pad">Espacio Reservado.</p>
            <a href="" target="_blank" class="button tiny">Ir al Sitio</a>
        </div>
    </div>
</div>
{% endblock %}