<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content={% trans %}system.description{% endtrans %}>
    <meta name="keywords" content="{% trans %}system.tags{% endtrans %}">
    <meta name="author" content="Selim Diaz A.">
    <title>{% trans %}system.title{% endtrans %}</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="{{ asset(style ~ '/stylesheets/style.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset(style ~ '/stylesheets/normalize.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset(style ~ '/stylesheets/app.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/shared.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}" type="text/css" media="all"/>
    {% block extracss %}
    {% endblock %}
    <script src="{{ asset('saintmichael/javascripts/vendor/custom.modernizr.js') }}"></script>

    <!--[if !IE 7]>
    <style type="text/css" type="text/css" media="all">
        #wrap {
            display: table;
            height: 100%
        }
    </style>
    <![endif]-->
</head>
<body>

<div id="wrap">

    <div id="header">
    </div>

    <nav class="top-bar" style="">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name{% if menuIndex is not defined %} current{% endif %}">
                    <h1><a href="{{ path('TecnotekExpedienteBundle_homepage') }}">{% trans %}label.home{% endtrans %}</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">

                <!-- Menu -->
                {% if is_granted('ROLE_SUPERADMIN') %}
                <ul class="left">
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 1%} current{% endif %}"><a href="{{ path('_expediente_sysadmin_administrador') }}">{% trans %}label.usuarios{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_sysadmin_administrador') }}">{% trans %}label.usuarios.admin{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_coordinador') }}">{% trans %}label.usuarios.coordinador{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_profesor') }}">{% trans %}label.usuarios.profesor{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('_expediente_access') }}">{% trans %}label.access{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 2%} current{% endif %}"><a href="#">{% trans %}label.transport{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_sysadmin_route') }}">{% trans %}label.routes{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_bus') }}">{% trans %}label.buses{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 3%} current{% endif %}"><a href="#">{% trans %}label.estudiantado{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_sysadmin_student') }}">{% trans %}label.students{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_club') }}">{% trans %}label.clubs{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_ticket') }}">{% trans %}label.tickets{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_absences') }}">{% trans %}label.absences{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_absence_enter_by_group')}}">{% trans %}label.absences.by.group{% endtrans %}</a></li>

                            <li><a style="text-align: left;" href="{{ path('_expediente_penalties') }}">{% trans %}label.penalties{% endtrans %}</a></li>
                            <li><a style="text-align: left;" href="{{ path('_expediente_tickets') }}">{% trans %}label.tickets{% endtrans %}</a></li>
                            <li><a style="text-align: left;" href="{{ path('_expediente_sysadmin_convocatorias') }}">{% trans %}label.enter.convocatorias{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_student_psico_esc') }}">{% trans %}label.psicologiaescuela{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_emails') }}">{% trans %}label.emails{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 4%} current{% endif %}"><a href="#">{% trans %}label.reports{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_report_bus') }}">{% trans %}label.buses{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_routes') }}">{% trans %}label.routes{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_zones') }}">{% trans %}label.routes.by.zone{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_by_route') }}">{% trans %}label.students.by.route{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_by_route_club') }}">{% trans %}label.students.by.route.club{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_absences_by_route') }}">{% trans %}label.students.absences.by.route{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_daily_by_route') }}">{% trans %}label.students.daily.by.route{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students') }}">{% trans %}label.students{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_clubs') }}">{% trans %}label.clubs{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_period_notes_by_group') }}">{% trans %}menu.qualifications.report{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_best_averages_by_group') }}">{% trans %}menu.averages.report{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_group_qualifications_by_rubro') }}">{% trans %}menu.qualifications.of.group.by.rubro{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_student_qualifications') }}">{% trans %}menu.detail.student.qualifications{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_routes_club') }}">{% trans %}label.routes.club{% endtrans %}</a></li>
                            <!-- <li><a href="{{ path('_expediente_report_penalty_students') }}">{% trans %}label.penalty.report{% endtrans %}</a></li> -->
                            <li><a href="{{ path('_expediente_report_students_routes') }}">{% trans %}label.student.route{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_course_by_group') }}">{% trans %}label.report.grades.by.group.course{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_by_route_club_level') }}">{% trans %}label.students.by.route.club.level{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_by_route_club_route') }}">{% trans %}label.students.by.route.club.route{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_period_observations_by_group') }}">{% trans %}menu.observations.report{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_emergency') }}">{% trans %}label.students.emergency{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_report_students_by_route_filter2') }}">{% trans %}label.students.by.route{% endtrans %} Colegio</a></li>
                            <li><a href="{{ path('_expediente_report_absences_by_route_filter2') }}">{% trans %}label.students.absences.by.route{% endtrans %} Colegio</a></li>
                            <li><a href="{{ path('_expediente_report_daily_by_route_filter2') }}">{% trans %}label.students.daily.by.route{% endtrans %} Colegio</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 5%} current{% endif %}"><a href="#">{% trans %}label.mantenimientos{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_sysadmin_absenceType') }}">{% trans %}label.absenceTypes{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_period') }}">{% trans %}label.period{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_grade') }}">{% trans %}label.grade{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_course') }}">{% trans %}label.course{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_qualifications') }}">{% trans %}label.qualifications{% endtrans %}</a></li>

                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown{% if menuIndex is defined and menuIndex == 6%} current{% endif %}"><a href="#">{% trans %}label.inventary{% endtrans %}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_sysadmin_item') }}">{% trans %}label.items{% endtrans %}</a></li>
                            <li><a href="{{ path('_expediente_sysadmin_category_item') }}">{% trans %}label.categoryitems{% endtrans %}</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                {% if is_granted('ROLE_PROFESOR') %}
                <ul class="left">
                    <li class="divider"></li>
                    <li {% if menuIndex is defined and menuIndex == 1%}class="current"{% endif %}><a href="{{ path('_expediente_teacher_qualifications') }}">{% trans %}label.qualifications{% endtrans %}</a></li>
                    <li class="divider"></li>
                    <li {% if menuIndex is defined and menuIndex == 2%}class="current"{% endif %}><a href="{{ path('_expediente_teacher_course_entries') }}">{% trans %}label.usuarios.courseEntry{% endtrans %}</a></li>
                    <li class="divider"></li>
                    <li {% if menuIndex is defined and menuIndex == 3%}class="current"{% endif %}><a href="{{ path('_expediente_teacher_observations') }}">{% trans %}label.usuarios.observations{% endtrans %}</a></li>
                    <li class="divider"></li>
                    <li {% if menuIndex is defined and menuIndex == 4%}class="current"{% endif %}>
                        <a href="{{ path('_expediente_teacher_special_qualifications') }}">
                            {% trans %}label.usuarios.special.qualifications{% endtrans %}
                        </a>
                    </li>
                    <li class="divider"></li>
                </ul>
                {% else %}
                <ul class="left">

                    {% render "TecnotekExpedienteBundle:Secured:showMenu" %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- Final del Menu -->

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider hide-for-small"></li>
                    <li class="has-dropdown"><a href="#">{{ app.user.username }}</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_expediente_my_account') }}">{% trans %}label.my.account{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('_expediente_logout') }}">{% trans %}label.logout{% endtrans %}</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}

            </section>
        {% endif %}

    </nav>

    <div id="main">

        {% if errorMessage is defined and errorMessage != "" %}
        <div class="container_24">
            <div class="grid_24">
                <div data-alert="" class="alert-box alert round">
                    {{ errorMessage }}
                    <a href="" class="close">×</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

</div>

<div id="footer">
    <div class="left">© 2013 <span>|</span> <a href="index-7.html">Privacy Policy</a></div>
    <div class="powered">Powered by <a href="http://www.tecnotekcr.net/" target="_blank" >Tecnotek</a></div>
</div>

<script src="{{ asset('saintmichael/javascripts/vendor/jquery-1.8.1.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/spin.min.js') }}"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script src="{{ asset('saintmichael/javascripts/foundation/foundation.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.alerts.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.clearing.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.cookie.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.dropdown.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.forms.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.joyride.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.magellan.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.orbit.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.placeholder.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.reveal.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.section.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.tooltips.js') }}"></script>
<script src="{{ asset('saintmichael/javascripts/foundation/foundation.topbar.js') }}"></script>

{% if is_granted('ROLE_PROFESOR') %}
<script type="text/javascript" src="{{ asset('js/teacher_application.js') }}"></script>
{% else %}
<script type="text/javascript" src="{{ asset('js/superadmin_application.js') }}"></script>
{% endif %}

{% block extrajs %}{% endblock %}

<script>
    $(document).foundation();
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19093680-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>