{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Buseta
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.module = "ticketsIndex";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["getStudentsURL"] = "{{ path('_expediente_sysadmin_student_ajax_list')}}";
    Tecnotek.UI.urls["loadStudentRelativesURL"] = "{{ path('_expediente_sysadmin_relatives_list')}}";
    Tecnotek.UI.urls["saveTicketURL"] = "{{ path('_expediente_sysadmin_ticket_save')}}";
    Tecnotek.StudentShow.translates["relative.not.selected"] = "{% trans %}message.relative.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["student.not.selected"] = "{% trans %}message.student.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["relative.not.exists"] = "{% trans %}message.relative.not.exists{% endtrans %}";

</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div class="left" style="width: 45%;" id="ticketsList" name="ticketsList">
            <div>
                <div class="left"><h1>{% trans %}label.ticket.today.list{% endtrans %}</h1></div>
                <div class="clear"></div>
            </div>

            <div class="row tableHeader">
                <div class="option_width" style="float: left; width: 150px;">{% trans %}label.student{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 115px;">{% trans %}label.relative{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 110px;">{% trans %}label.time{% endtrans %}</div>
            </div>

            {% for ticket in tickets %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 150px;">{{ ticket.student }}</div>
                <div class="option_width" style="float: left; width: 115px;">{{ ticket.relative.contact }}</div>
                <div class="option_width" style="float: left; width: 110px;">{{ ticket.date|date("d/M/y H:i:s") }}</div>
                <div class="clear"></div>
            </div>
            {% else %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 375px;">{% trans %}tickets.not.found{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            {% endfor %}
        </div>

        <div class="right" style="width: 45%;">
            <div class="left"><h1>{% trans %}label.ticket.new{% endtrans %}</h1></div>
            <div class="clear"></div>
            <div class="form-ticket">
                <div class="internal">
                    <div class="left" style="width: 85px;"><label>{% trans %}label.student{% endtrans %}</label></div><input id="student" name="student" rel="0"><br/>
                    <div id="suggestions" style="left: 85px;"></div>
                    <div class="left" style="width: 85px;"><label>{% trans %}label.relative{% endtrans %}</label></div><select id="relative" name="relative"></select><br/>
                    <div class="left" style="width: 85px;"><label style="line-height: 10px;">{% trans %}label.comments{% endtrans %}</label></div><textarea id="comments" name="comments" rows="10" cols="25"></textarea><br/>

                    <button style="float: right; margin-top: 15px;" type="button" class="left btn save" id="save" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>
                    <div class="clear"></div>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}