{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Ruta
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.route.edit{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_route') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">


                <form class="custom" id="mainForm" name="mainForm" action="{{ path('_expediente_sysadmin_route_update') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{ entity.id }}">
                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}

                    <fieldset>
                        <legend></legend>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.code) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.code{% endtrans %}</label>{{ form_widget(form.code) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.name) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.name{% endtrans %}</label>{{ form_widget(form.name) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.description) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.description{% endtrans %}</label>{{ form_widget(form.description) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.mapUrl) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.route{% endtrans %}</label>{{ form_widget(form.mapUrl) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.zone) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.zone{% endtrans %}:</label>{{ form_widget(form.zone) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.bus) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.bus{% endtrans %}:</label>{{ form_widget(form.bus) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.institution) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.institution{% endtrans %}:</label>{{ form_widget(form.institution) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.routeType) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.type{% endtrans %}:</label>{{ form_widget(form.routeType) }}
                            </div>
                        </div>

                        <div class="formRow ">
                            <div class="large-12 columns buttonsPanel">
                                <a href="{{ path('_expediente_sysadmin_route_show', {'id': entity.id}) }}" class="button success-darker tiny"><span></span>{% trans %}label.cancelar{% endtrans %}</a>

                                <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="button success-darker tiny" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>


                            </div>
                            <div class="clear"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}