{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Ruta
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" type="text/css" media="all" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>
<script type="text/javascript">
    Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_route", {id: entity.id}) }}";
    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.route.delete{% endtrans %}";
    Tecnotek.module = "showRoute";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["getStudentsURL"] = "{{ path("_expediente_get_students_list_for_route") }}";
    Tecnotek.UI.urls["associateStudentsURL"] = "{{ path("_expediente_associate_student_to_route") }}";

    Tecnotek.UI.urls["removeStudentsFromRouteURL"] = "{{ path("_expediente_remove_student_from_route") }}";
    Tecnotek.UI.urls["changeStudentInInfoURL"] = "{{ path("_expediente_change_student_route_in_info") }}";
    Tecnotek.UI.translates["confirmRemoveStudent"] = "{% trans %}messages.confirmation.club.remove.student{% endtrans %}";
    Tecnotek.UI.vars["routeId"] = {{ entity.id }};
    Tecnotek.UI.vars["routeType"] = {{ entity.routeType }};
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 900px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.route.show{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_route') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>
        <!-- -->
        <div class="section-container auto" data-section>
            <section class="section">
                <p class="title"><a href="#panel1">{%trans%}label.general{%endtrans%}</a></p>
                <div class="content">
                    <div id="showContainer">
                        <div>
                            <label>{%trans%}label.code{%endtrans%}</label>
                            <span id="labelCode">{{ entity.code }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.name{%endtrans%}</label>
                            <span id="labelName">{{ entity.name }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.description{%endtrans%}</label>
                            <span id="labelDescription">{{ entity.description }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.route{%endtrans%}</label>
                            <span id="labelMapUrl" url="{{ entity.mapUrl }}">View Route</span>
                        </div>

                        <div>
                            <label>{%trans%}label.zone{%endtrans%}</label>
                            <span id="labelZone">{{ entity.zone }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.bus{%endtrans%}</label>
                            <span id="labelBus">{{ entity.bus }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.institution{%endtrans%}</label>
                            <span id="labelInstitution">{{ entity.institution }}</span>
                        </div>

                        <div>
                            <label>{%trans%}label.type{%endtrans%}</label>
                            <span id="labelType">{% if entity.routeType == 1 %}{%trans%} label.route.type.1 {% endtrans %} {% else %} {%trans%} label.route.type.2 {% endtrans %} {% endif %}</span>
                        </div>

                        <div id="buttonsContainer" style="margin-top: 25px;">
                            <a href="{{ path('_expediente_sysadmin_route_edit', {'id': entity.id}) }}" class="left button success-darker tiny"><span></span>{% trans %}label.edit{% endtrans %}</a>
                            <div class="left button success-darker tiny" id="btnEliminar" style="margin-left: 25px;"><span></span>{% trans %}label.eliminar{% endtrans %}</div>
                            <div class="clear"></div>
                        </div>


                    </div>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel2">{%trans%}label.students.in.club{%endtrans%}</a></p>
                <div class="content">

                    <div class="left table">
                        <div class="row tableHeader">
                            <div class="option_width" style="float: left; width: 300px;">{% trans %}label.name{% endtrans %}</div>
                        </div>
                        <div  id="studentsList" style="overflow: scroll; height: 350px;">
                            {% set counter = 0 %}
                            {% if entity.routeType == 1 %}
                                    {% for student in students %}
                                        <div id="student_row_{{ student.id }}" class="row userRow lala" rel="{{ student.id }}">
                                            <div class="option_width" style="float: left; width: 300px;">{{ student }} ({{ student.groupyear }})</div>
                                            <div class="right imageButton editButton editStudent" title="Editar" rel="{{ student.id }}"
                                                 routetype="{{ student.routeType? student.routeType:'0' }}"
                                                 routein="{{ student.routeIn? student.routeIn.id:'0' }}"
                                                 id="btnEdit-{{ student.id }}"></div>
                                            <div class="right imageButton deleteButton" style="height: 16px;"  title="{% trans %}label.delete{% endtrans %}"
                                                 rel="{{ student.id }}"></div>
                                            <div class="clear"></div>
                                        </div>
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                            {% else %}
                                {% for studentToRoute in students %}
                                    <div id="student_row_{{ studentToRoute.student.id }}" class="row userRow" rel="{{ studentToRoute.student.id }}"
                                         >
                                        <div class="option_width" style="float: left; width: 300px;">{{ studentToRoute.student }}</div>
                                        <div class="right imageButton deleteButton" style="height: 16px;"  title="{% trans %}label.delete{% endtrans %}"
                                             rel="{{ studentToRoute.student.id }}"></div>
                                        <div class="clear"></div>
                                    </div>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                         <a id="openStudentForm" class="right button success-darker tiny modalbox" style="margin: 4px 0px 0 0;" href="#studentFormContainer"></a>
                    <div id="studentFormContainer" style="display: none; width: 600px;">
                        <h3 style="margin-bottom: 0px;"><div class="left" id="studentTitleOption" name="studentTitleOption"></div>Transporte Estudiante</h3>

                        <form id="studentRouteForm" name="studentRouteForm">

                            <input type="hidden" id="studentId" name="studentId" value="0">
                            <div id="subformEntryError" class="formErrors"></div>

                            <div style="margin-bottom: 5px;">
                                <label style="display: inline-block; width: 100px">{% trans %}label.type{% endtrans %}</label>
                                <select id="studentRouteType" name="studentRouteType" style="width: 470px;">
                                    <option value="0"></option>
                                    <option value="1">Tiempo Completo</option>
                                    <option value="2">Medio Tiempo</option>
                                </select>
                            </div>

                            <div style="margin-bottom: 5px;">
                                <label style="display: inline-block; width: 100px">{% trans %}label.route{% endtrans %}&nbsp;2</label>
                                <select id="studentRouteIn" name="studentRouteIn" style="width: 470px;">
                                    <option value="0"></option>
                                    {% for route in routes %}
                                        <option value="{{ route.id }}">{{ route.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px;" type="button" name="entryFormCancel" id="entryFormCancel" value="{% trans %}label.cancelar{% endtrans %}"/></div>
                            <div class="left"><input class="button success-darker tiny" style="margin-top: 0px; margin-left: 25px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
                            <div class="clear"></div>
                        </form>
                    </div>

                    <div class="left" style="margin-left: 50px;">
                        <form id="searchform">
                            <div>
                                <div>{% trans %}route.include.students{%endtrans%}</div>
                                <div style="font-size: 10px;">{% trans %}club.include.help{%endtrans%}</div>

                                <input type="text" size="30" value="" id="searchBox"/>
                            </div>
                            <div id="suggestions"></div>
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </div>

    </div>
</div>

{% endblock %}