{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Buseta
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
    <script>
        $(function() {
            $( "#tecnotek_expediente_busformtype_riteve" ).datepicker({
                defaultDate: "0d",
                changeMonth: true,
                dateFormat: "dd/mm/yy",
                showButtonPanel: true,
                //currentText: "Hoy",
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                    //$( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#tecnotek_expediente_busformtype_ins" ).datepicker({
                defaultDate: "0d",
                changeMonth: true,
                dateFormat: "dd/mm/yy",
                showButtonPanel: true,
                //currentText: "Hoy",
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                    //$( "#to" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
            $( "#tecnotek_expediente_busformtype_permission" ).datepicker({
                defaultDate: "0d",
                changeMonth: true,
                dateFormat: "dd/mm/yy",
                showButtonPanel: true,
                //currentText: "Hoy",
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                    //$( "#to" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">
                <form class="custom" id="createForm" action="{{ path('_expediente_sysadmin_bus_save') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}

                    <fieldset>
                        <legend>{% trans %}label.bus.new{% endtrans %}</legend>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.name) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.name{% endtrans %}</label>{{ form_widget(form.name) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.licensePlate) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.licensePlate{% endtrans %}</label>{{ form_widget(form.licensePlate) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.color) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.color{% endtrans %}</label>{{ form_widget(form.color) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.driver) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.driver{% endtrans %}:</label>{{ form_widget(form.driver) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.telephone) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.telephone{% endtrans %}:</label>{{ form_widget(form.telephone) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.capacity) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.capacity{% endtrans %}:</label>{{ form_widget(form.capacity) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.riteve) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.riteve{% endtrans %}:</label>{{ form_widget(form.riteve) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.ins) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.ins{% endtrans %}:</label>{{ form_widget(form.ins) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.permission) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.permission{% endtrans %}:</label>{{ form_widget(form.permission) }}
                            </div>
                        </div>

                        <div class="formRow ">
                            <div class="large-12 columns buttonsPanel">
                                <a href="{{ path('_expediente_sysadmin_bus') }}"
                                   class="button success-darker tiny"><span></span>{% trans %}label.cancelar{% endtrans %}</a>

                                <input class="button success-darker tiny" style="margin-top: 0px;"
                                       type="submit" name="save"
                                       value="{% trans %}label.save{% endtrans %}"/>

                            </div>
                            <div class="clear"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}