{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Bus
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_bus", {id: entity.id}) }}";
    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.bus.delete{% endtrans %}";
    Tecnotek.module = "showEntity";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">
                <div class="titleRow">
                    <div class="left"><h3>{% trans %}label.bus.show{% endtrans %}</h3></div>
                    <div class="right"><a href="{{ path('_expediente_sysadmin_bus') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
                    <div class="clear"></div>
                </div>
                <!-- -->
                <div id="showContainer">
                    <div>
                        <label>{%trans%}label.name{%endtrans%}</label>
                        <span id="labelName">{{ entity.name }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.licensePlate{%endtrans%}</label>
                        <span id="labelLicensePlate">{{ entity.licensePlate }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.color{%endtrans%}</label>
                        <span id="labelColor">{{ entity.color }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.driver{%endtrans%}</label>
                        <span id="labelDriver">{{ entity.driver }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.telephone{%endtrans%}</label>
                        <span id="labelTelephone">{{ entity.telephone }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.capacity{%endtrans%}</label>
                        <span id="labelCapacity">{{ entity.capacity }}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.riteve{%endtrans%}</label>
                        <span id="labelRiteve">{% if entity.riteve != null %}{{ entity.riteve|date("d/M/y") }}{% endif %}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.ins{%endtrans%}</label>
                        <span id="labelIns">{% if entity.ins != null %}{{ entity.ins|date("d/M/y") }}{% endif %}</span>
                    </div>

                    <div>
                        <label>{%trans%}label.permission{%endtrans%}</label>
                        <span id="labelPermission">{% if entity.permission != null %}{{ entity.permission|date("d/M/y") }} {% endif %}</span>
                    </div>

                    <div id="buttonsContainer" style="margin-top: 25px;">
                        <a href="{{ path('_expediente_sysadmin_bus_edit', {'id': entity.id}) }}" class="left button success-darker tiny"><span></span>{% trans %}label.edit{% endtrans %}</a>
                        <div class="left button success-darker tiny" id="btnEliminar" style="margin-left: 25px;"><span></span>{% trans %}label.eliminar{% endtrans %}</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}