{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Bus
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_bus", {id: entity.id}) }}";
    Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.bus.delete{% endtrans %}";
    Tecnotek.module = "showEntity";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left"><h1>{% trans %}label.bus.show{% endtrans %}</h1></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_bus') }}" class="btn list"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="centeredDiv">
            <div class="formContainer" style="width: 920px;">
                <div id="showContainer">
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.name{%endtrans%}</div>
                        <div id="labelName" class="left">{{ entity.name }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.licensePlate{%endtrans%}</div>
                        <div id="labelLicensePlate" class="left">{{ entity.licensePlate }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.color{%endtrans%}</div>
                        <div id="labelColor" class="left">{{ entity.color }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.driver{%endtrans%}</div>
                        <div id="labelDriver" class="left">{{ entity.driver }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.telephone{%endtrans%}</div>
                        <div id="labelTelephone" class="left">{{ entity.telephone }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.capacity{%endtrans%}</div>
                        <div id="labelCapacity" class="left">{{ entity.capacity }}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.riteve{%endtrans%}</div>
                        <div id="labelRiteve" class="left">{% if entity.riteve != null %}{{ entity.riteve|date("d/M/y") }}{% endif %}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.ins{%endtrans%}</div>
                        <div id="labelIns" class="left">{% if entity.ins != null %}{{ entity.ins|date("d/M/y") }}{% endif %}</div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left" style="width: 150px; font-weight: bold;">{%trans%}label.permission{%endtrans%}</div>
                        <div id="labelPermission" class="left">{% if entity.permission != null %}{{ entity.permission|date("d/M/y") }} {% endif %}</div>
                        <div class="clear"></div>
                    </div>

                    <div id="buttonsContainer" style="margin-top: 25px;">
                        <a href="{{ path('_expediente_sysadmin_bus_edit', {'id': entity.id}) }}" class="left btn edit"><span></span>{% trans %}label.edit{% endtrans %}</a>
                        <div class="left btn delete" id="btnEliminar" style="margin-left: 25px;"><span></span>{% trans %}label.eliminar{% endtrans %}</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>    
        </div>        
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}