{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador
{% endblock %}



{% block extrajs %}
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>

<script type="text/javascript">
    Tecnotek.module = "absences";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";

    Tecnotek.UI.urls["getStudentsURL"] = "{{ path('_expediente_sysadmin_student_ajax_list')}}";
    Tecnotek.UI.urls["loadStudentRelativesURL"] = "{{ path('_expediente_sysadmin_relatives_list')}}";
    Tecnotek.UI.urls["saveTicketURL"] = "{{ path('_expediente_sysadmin_ticket_save')}}";
    Tecnotek.StudentShow.translates["relative.not.selected"] = "{% trans %}message.relative.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["student.not.selected"] = "{% trans %}message.student.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["relative.not.exists"] = "{% trans %}message.relative.not.exists{% endtrans %}";
</script>
<script type="text/javascript">

$(function() {
   // $(".modalbox").fancybox();


    $(".textField").blur(function(e){
        e.preventDefault();
        $this = $(this);
        $type = $this.attr('tipo');
        $nota = $this.val();

        if($type == 1){
            $percentage = $this.attr('perc');
            $totalField = $("#" + $this.attr('rel'));
            console.debug("Type = " + $type + ", Nota: " + $nota + ", Perc = " + $percentage + " :: " + $totalField);
            if($nota == "") {
                $totalField.html("-");
            } else {
                console.debug("Calcular total para " + $(this).attr('rel') + ", total = " + ($percentage * $nota / 100));
                $totalField.html("" + ($percentage * $nota / 100) + "%");
            }
            //p / 100 = x / nota
            //p * nota / 100;


        } else {

        }

    });
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('expediente/css/fancybox_style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('expediente/css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />
<style>
    .qualificationTable{ margin-top: 75px; margin-bottom: 50px;}
    .qualificationTable .itemNota{ background-color: #A4D2FD; }
    .qualificationTable .itemPromedio{ background-color: #5F96E7; }
    .qualificationTable .itemPorcentage{ background-color: #B698EE; }
    .qualificationTable .itemHeader {font-weight: bold; color: #000;
        position: absolute;
        text-align: center; float: left; width: 150px; height: 32px; line-height: 32px; vertical-align: middle;
        border: solid thin black; top: 60px;
        -moz-transform: rotate(90deg);  /* FF3.5+ */
        -o-transform: rotate(90deg);  /* Opera 10.5 */
        -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */
    }
    .qualificationTable .itemHeaderCode {font-weight: bold; color: #000; /*position: absolute; */text-align: center; float: left; width: 32px; height: 25px; line-height: 25px;
        vertical-align: middle; border-bottom: solid thin black; border-right: solid thin black; border-left: solid thin black; border-top: solid thin black;}

    .qualificationTable .itemHeader2 {font-weight: bold; color: #000; /*position: absolute; */text-align: center; float: left; width: 32px; height: 25px; line-height: 25px;
        vertical-align: middle; border-bottom: solid thin black; border-right: solid thin black; border-left: solid thin black;}

    .qualificationTable .textField {font-weight: bold; color: #000; /*position: absolute; */text-align: center; float: left; width: 18px; height: 11px; line-height: 11px;
        vertical-align: middle; border-bottom: solid thin black; border-right: solid thin black; border-left: solid thin black; border-top: solid thin black; font-size: 10px;}
</style>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left">
                <h1>{% trans %}label.qualifications{% endtrans %}</h1>
            </div>
            <div class="left" style="line-height: 48px; margin-left: 25px;">
                <span>{% trans %}label.absences.message{% endtrans %}</span>
            </div>
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right btn new" name="buttonNew" id="buttonNew" href="#inline"><a class="modalbox" href="#inline">{% trans %}label.new{% endtrans %}</a></button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="qualificationTable">
            {{ table|raw }}
            <div class="clear"></div>
        </div>

        <br /><br /> <br /><br /> <br /><br />
        <br /><br /><br /><br />
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}