{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Usuarios
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.UI.urls["api"] = "";
    Tecnotek.UI.translates["btnDone"] = "";
    Tecnotek.module = "administratorList";
    Tecnotek.imagesURL = "/images";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left"><h1>{% trans %}label.usuarios.admin.new{% endtrans %}</h1></div>
            <div class="clear"></div>
        </div>
        <div class="centeredDiv" style="width: 700px;">
            <div class="formContainer">
                <form class="customForm" id="createAdminForm" action="{{ path('_expediente_sysadmin_admin_save') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}
                    
                    <div class="formErrors">{{ form_errors(form.username) }}</div>
                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.username{% endtrans %}</span>{{ form_widget(form.username) }}</label>
                    
                    <div class="formErrors">{{ form_errors(form.email) }}</div>
                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.email{% endtrans %}</span>{{ form_widget(form.email) }}</label>
                    
                    <div class="formErrors">{{ form_errors(form.password) }}</div>
                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.password{% endtrans %}</span><input type="password" id="tecnotek_expediente_userformtype_password_Password" name="tecnotek_expediente_userformtype[password][Password]" required="required"></label>
                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.password.reenter{% endtrans %}</span><input type="password" id="tecnotek_expediente_userformtype_password_Re-enter Password" name="tecnotek_expediente_userformtype[password][Re-enter Password]" required="required"></label>
                    
                    <div class="formErrors">{{ form_errors(form.active) }}</div>
                    <label><span class="text-form" style="min-width: 150px;">{% trans %}label.active{% endtrans %}:</span>{{ form_widget(form.active) }}</label>

                    <div class="left"><a href="{{ path('_expediente_sysadmin_administrador') }}" class="btn"><span></span>{% trans %}label.cancelar{% endtrans %}</a></div>                    
                    <div class="left" style="margin-left: 25px;"><input class="btn" style="margin-top: 0px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
                    <div class="clear"></div>                    
                </form>
            </div>    
        </div>        
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}