{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador
{% endblock %}



{% block extrajs %}
    <script type="text/javascript" src="{{ asset('js/jquery.printElement.min.js') }}"></script>

    <script type="text/javascript">
        Tecnotek.module = "observations";
        Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";

        Tecnotek.UI.urls["loadGroupsOfPeriodURL"] = "{{ path("_expediente_teacher_load_groups_of_period") }}";
        Tecnotek.UI.urls["loadCoursesOfGroupByTeacherURL"] = "{{ path("_expediente_teacher_load_courses_of_group_by_teacher") }}";
        Tecnotek.UI.urls["loadObservationsOfGroupURL"] = "{{ path("_expediente_teacher_load_group_observations") }}";
        Tecnotek.UI.urls["saveStudentObservationURL"] = "{{ path("_expediente_teacher_save_student_observation") }}";

        Tecnotek.UI.urls["viewPrintableVersionURL"] = "{{ path("_expediente_sysadmin_printable_group_qualifications") }}";
    </script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('fancybox/fancybox_style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />
    <style>
        @media screen {
            .noPrint {/*display:block !important;*/}
        }

            /* Print Only */
        @media print {
            .noPrint {display:none !important;}
        }

        #wrap {min-width: 960px;}
        .tableQualifications {border: 1px;}
        .tableQualifications table, th, td { border: 1px solid black; font-size: 11px; color: #000;}
        .tableQualifications td { width: 45px; text-align: center; font-size: 11px;}
            /*.tableQualifications .azul {background-color: #2b34ee; color: #000; line-height: 0px;}*/
        .tableQualifications .azul {background-color: #2b34ee; color: #000;}
        .tableQualifications .celesteClaro {background-color: #A4D2FD; color: #000; font-size: 12px;}
        .tableQualifications .celesteOscuro {background-color: #5F96E7; color: #000; font-weight: bold; font-size: 12px;}
        .tableQualifications .morado {background-color: #B698EE; color: #000; font-size: 12px;}
        .tableQualifications .bold {font-weight: bold;}

        .verticalText{text-align: center; vertical-align: middle; font-weight: bold; width: 20px; margin: 0px; padding: 0px; padding-left: 3px; padding-right: 3px; padding-top: 10px; white-space: nowrap; font-size: 11px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);}

        .itemEstudiante{ background-color: #A4D2FD; }
        .qualificationTable .itemNota{ background-color: #A4D2FD; }
        .qualificationTable .textField {font-weight: bold; color: #000; /*position: absolute; */text-align: center; float: left; width: 44px; height: 24px; line-height: 11px;
            vertical-align: middle; border: none; font-size: 12px; padding: 0px; margin: 0px;}

        .qualificationTable {width: 950px}
        #contentBody {width: auto; overflow-x:scroll; margin-left:369px; }
        .headcolcarne { height: 30px; border: 1px solid black; position:absolute; left:0; line-height: 30px; }
        .headcolnombre { height: 30px; border: 1px solid black; position:absolute; left:75px; line-height: 30px; }
        .headcoltrim { height: 30px;  border: 1px solid black; position:absolute; left:325px; line-height: 30px; }
    </style>

    <style type="text/css">
        input { font-weight:bold;}
    </style>
{% endblock %}

{% block content %}
    <div class="container_24">
        <div class="grid_24">
            <div style="line-height: 26px;">
                <div class="left" style="width: 70px; font-weight: bold;">{%trans%}label.period{%endtrans%}</div>
                <div id="labelPeriod" class="left">
                    <select id="period" name="period" style="width: 150px;">
                        {% for period in periods %}
                            {% if period.isActual == '1' %}
                                <option value="{{ period.id }}">{{period}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div id="groupsContainer" class="left" style="margin-left: 50px;">
                    <div class="left" style="width: 65px; font-weight: bold;">{%trans%}label.groups{%endtrans%}</div>
                    <div class="left">
                        <select id="groups" name="groups" style="width: 150px;">
                        </select>
                    </div>
                </div>

                <div id="coursesContainer" class="left" style="margin-left: 50px;">
                    <div class="left" style="width: 75px; font-weight: bold;">{%trans%}label.courses{%endtrans%}</div>
                    <div class="left">
                        <select id="courses" name="courses" style="width: 150px;">
                        </select>
                    </div>
                </div>
                <input type="hidden" id="teacherid" name="teacherid"  value="{{ app.user.id }}">
                <div class="left" style="margin-left: 15px;"><a href="#" class="button success-darker tiny" id="viewPrintable" name="viewPrintable"><span></span>Versi&oacute;n Imprimible</a></div>

                <div class="clear"></div>
            </div>
            <!-- Qualifications -->
            <div>
                <div class="left">
                    <h3>{% trans %}label.observations{% endtrans %}</h3>
                </div>
                <div class="left" style="line-height: 48px; margin-left: 25px;">
                    <span>Ingrese o verifique la informacion de las notas de los estudiantes por grupo</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div id="tableContainer" name="tableContainer" style="display: none;">
                <div class="left qualificationTable" id="tablaCalificacion" name="tablaCalificacion">
                    <div  name="contentBody" id="contentBody"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}