{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('expediente/css/fancybox_style.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('expediente/css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.0.6') }}"></script>

<script type="text/javascript">
    Tecnotek.module = "absences";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";

    Tecnotek.UI.urls["getStudentsURL"] = "{{ path('_expediente_sysadmin_student_ajax_list')}}";
    Tecnotek.UI.urls["loadStudentRelativesURL"] = "{{ path('_expediente_sysadmin_relatives_list')}}";
    Tecnotek.UI.urls["saveTicketURL"] = "{{ path('_expediente_sysadmin_ticket_save')}}";
    Tecnotek.UI.urls["show"] = "{{ path('_expediente_sysadmin_absence_show_simple')}}";
    Tecnotek.UI.urls["edit"] = "{{ path('_expediente_sysadmin_absence_edit_simple')}}";

    Tecnotek.StudentShow.translates["relative.not.selected"] = "{% trans %}message.relative.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["student.not.selected"] = "{% trans %}message.student.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["relative.not.exists"] = "{% trans %}message.relative.not.exists{% endtrans %}";

</script>
<!-- basic fancybox setup -->
<script>
    $(function() {
        $( "#from" ).datepicker({
            defaultDate: "0d",
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            currentText: "Hoy",
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#to" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#to" ).datepicker({
            defaultDate: "0d",
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            currentText: "Hoy",
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#from" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
</script>
<script type="text/javascript">

$(function() {
    $(".modalbox").fancybox();
//$("#contact").submit(function() { return false; });
});
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left">
                <h1>{% trans %}label.absences.title{% endtrans %}</h1>
            </div>
            <div class="left" style="line-height: 48px; margin-left: 25px;">
                <span>{% trans %}label.absences.message{% endtrans %}</span>
            </div>
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right btn new" name="buttonNew" id="buttonNew" href="#inline"><a id="newAbsence"  class="modalbox" href="#inline">{% trans %}label.new{% endtrans %}</a></button>
            <div class="clear"></div>
        </div>
        <div class="filter-search">
            <div class="internal">
                <form id="searchForm" action="{{ path('_expediente_absences_search') }}" method="post">
                    <div class="filter-row">
                        <div class="field">
                            <label>{%trans%}label.student{%endtrans%}</label><input type="text" id="student" name="student" style="margin-right: 5px;" disabled="disabled"><input type="checkbox" class="check" rel="student">
                        </div>
                        <div class="field">
                            <label style="padding-left: 60px;">{%trans%}label.status{%endtrans%}</label>
                            <select id="status" name="status" style="width: 290px;">
                                <option value="-1" {% if status == '-1' %}selected="selected"{% endif %}>{%trans%}label.all{%endtrans%}</option>
                                <option value="1" {% if status == '1' %}selected="selected"{% endif %}>{%trans%}label.justify{%endtrans%}</option>
                                <option value="0" {% if status == '0' %}selected="selected"{% endif %}>{%trans%}label.injustify{%endtrans%}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-row">
                        <div class="field">
                            <label for="from">Desde</label>
                            <input type="text" id="from" name="from" value="{{ dateFrom }}" />
                        </div>
                        <div class="field">
                            <label for="to" style="padding-left: 60px;">Hasta</label>
                            <input type="text" id="to" name="to" value="{{ dateTo }}" />
                        </div>
                    </div>

                    <div class="filter-row">
                        <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="right btn save" name="search"><span></span>{% trans %}label.filter{% endtrans %}</button>
                    </div>

                    <div class="clear"></div>
                </form>
            </div>
        </div>
        <div class="search-results" style="margin-top: 25px;">
            <div class="row tableHeader" style="height: 32px; line-height: 32px;">
                <div class="option_width" style="float: left; width: 450px;">{% trans %}label.student{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 150px;">{% trans %}label.date{% endtrans %}</div>
                <div class="option_width" style="float: left; width: 100px;">{% trans %}label.status{% endtrans %}</div>
            </div>

            {% for entity in entities %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 450px;">{{ entity.student }}</div>
                <div class="option_width" style="float: left; width: 150px;">{% if entity.date != null %} {{ entity.date|date("d/M/y") }} {% else %} &nbsp; {% endif %}</div>
                <div class="option_width" style="float: left; width: 100px;" title="{{ entity.comments }}">{% if entity.justify %}{% trans %}label.justify{% endtrans %}{% else %} {% trans %}label.injustify{% endtrans %} {% endif %}</div>

                <div class="right imageButton editButton"  title="{% trans %}label.edit{% endtrans %}"  rel="{{ entity.id }}"></div>
                <div class="right imageButton deleteButton" style="height: 16px;"  title="{% trans %}label.view{% endtrans %}"  rel="{{ entity.id }}"></div>

                <div class="clear"></div>
            </div>
            {% else %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
<!-- hidden inline form -->
<div id="inline">
    <h2>Registrar nueva ausencia</h2>

    <form class="customForm" id="createAdminForm" action="{{ path('_expediente_absences_save') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form._token) }}

        <div class="formErrors">{{ form_errors(form.student) }}</div>
        <div class="left">
        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.student{% endtrans %}</span>{{ form_widget(form.student) }}</label>
        </div>
        <div class="left">
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right btn new" name="buttonSearchStudent" id="buttonSearchStudent" href="#inline"><a class="modalbox" href="#searchStudentWindow">{% trans %}label.search{% endtrans %}</a></button>
        </div>
        <div class="clear"></div>

        <div class="formErrors">{{ form_errors(form.date) }}</div>
        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.date{% endtrans %}</span>{{ form_widget(form.date) }}</label>

        <div class="formErrors">{{ form_errors(form.justify) }}</div>
        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.justify{% endtrans %}</span>{{ form_widget(form.justify) }}</label>

        <div class="formErrors">{{ form_errors(form.comments) }}</div>
        <label><span class="text-form" style="min-width: 150px;">{% trans %}label.comments{% endtrans %}</span>{{ form_widget(form.comments) }}</label>

        <div class="left"><input class="btn cancelButton" style="margin-top: 0px;" type="button" value="{% trans %}label.cancelar{% endtrans %}"/></div>
        <div class="left" style="margin-left: 25px;"><input class="btn" style="margin-top: 0px;" type="submit" name="save" value="{% trans %}label.save{% endtrans %}"/></div>
        <div class="clear"></div>
    </form>
</div>

<!-- hidden inline form -->
<div id="searchStudentWindow" name="searchStudentWindow">
    <h2>Buscar estudiante</h2>
    <div style="line-height: 10px; vertical-align: middle;">
        <div class="left">
            <div>
                <div style="font-size: 10px;">{% trans %}club.include.help{%endtrans%}</div>
                <input type="text" size="30" value="" id="searchBox"/>
            </div>
            <div id="suggestions"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="left"><input class="btn cancelButton" style="margin-top: 0px;" type="button" value="{% trans %}label.cancelar{% endtrans %}"/></div>
</div>
{% endblock %}