{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Grado
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.grade.show{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_sysadmin_grade') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">

                <form class="custom" id="mainForm" name="mainForm" action="{{ path('_expediente_sysadmin_grade_update') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{ entity.id }}">
                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}

                    <fieldset>
                        <legend></legend>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.name) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.name{% endtrans %}</label>{{ form_widget(form.name) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.number) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.number{% endtrans %}</label>{{ form_widget(form.number) }}
                            </div>
                        </div>

                        <div class="formRow ">
                            <div class="large-12 columns buttonsPanel">
                                <a href="{{ path('_expediente_sysadmin_grade_show', {'id': entity.id}) }}" class="button success-darker tiny"><span></span>{% trans %}label.cancelar{% endtrans %}</a>
                                <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="button success-darker tiny" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}