{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Buseta
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/jquery.printElement.min.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "reports";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["getStudentsURL"] = "{{ path('_expediente_sysadmin_student_ajax_list')}}";
    Tecnotek.UI.urls["loadStudentRelativesURL"] = "{{ path('_expediente_sysadmin_relatives_list')}}";
    Tecnotek.UI.urls["saveTicketURL"] = "{{ path('_expediente_sysadmin_ticket_save')}}";
    Tecnotek.StudentShow.translates["relative.not.selected"] = "{% trans %}message.relative.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["student.not.selected"] = "{% trans %}message.student.not.selected{% endtrans %}";
    Tecnotek.StudentShow.translates["relative.not.exists"] = "{% trans %}message.relative.not.exists{% endtrans %}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left">
                <h3>{% trans %}label.reports.bus{% endtrans %}</h3>
            </div>
            <div class="left" style="line-height: 48px; margin-left: 25px;">
                <span>{% trans %}label.reports.bus.message{% endtrans %}</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="filter-search table">
            <div class="internal" style="padding: 0px;">
                <form id="searchForm" action="{{ path('_expediente_report_bus_search') }}" method="post">
                    <div class="filter-row">
                        <div class="field">
                            <label>{%trans%}label.name{%endtrans%}</label><input type="text" id="name" name="name" disabled="disabled"><input type="checkbox" class="check" rel="name">
                        </div>
                        <div class="field">
                            <label style="padding-left: 60px;">{%trans%}label.licensePlate{%endtrans%}</label><input type="text" id="licensePlate" name="licensePlate" disabled="disabled"><input type="checkbox" class="check" rel="licensePlate">
                        </div>
                    </div>
                    <div class="filter-row">
                        <div class="field">
                            <label>{%trans%}label.driver{%endtrans%}</label><input type="text" id="driver" name="driver" disabled="disabled"><input type="checkbox" class="check" rel="driver">
                        </div>
                        <div class="field">
                            <label style="padding-left: 60px;">{%trans%}label.color{%endtrans%}</label><input type="text" id="color" name="color" disabled="disabled"><input type="checkbox" class="check" rel="color">
                        </div>
                    </div>
                    <div class="filter-row">
                        <div class="field">
                            <label>{%trans%}label.capacity{%endtrans%}</label><input type="text" id="capacity" name="capacity" disabled="disabled"><input type="checkbox" class="check" rel="capacity">
                        </div>
                        <div class="field">
                            <label style="padding-left: 60px;">{%trans%}label.route{%endtrans%}</label>
                            <select id="route" name="route" style="width: 309px;">
                                <option value="0">{%trans%}label.all{%endtrans%}</option>
                                {% for route in routes %}
                                <option value="{{route.id}}">{{ route }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="filter-row">
                        <button style="margin-right: 9px; margin-top: 0px;" type="submit" class="right button success-darker tiny" name="search"><span></span>{% trans %}label.filter{% endtrans %}</button>
                    </div>

                    <div class="clear"></div>
                </form>
            </div>
        </div>

        <div style="margin-top: 25px;">
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right button success-darker tiny" id="btnPrint" name="btnPrint" rel="Cat&aacute;logo de Buses"><span></span>{% trans %}label.print{% endtrans %}</button>
            <div class="clear"></div>
        </div>

        <div id="report" style="margin-top: 25px;">

            <div class="titles">
                <div class="left">Corporación Educativa Saint Michael S.A.</div>
                <div class="right">Control de Buses Escuela.</div>
                <div class="clear"></div>

                <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                <div class="clear"></div>

                <p style="text-align: center;">Catálogo de Buses</p>

            </div>

            <div class="header_row">
                <div class="field" style="float: left; width: 115px;">{% trans %}label.licensePlate{% endtrans %}</div>
                <div class="field" style="float: left; width: 300px;">{% trans %}label.driver{% endtrans %}</div>
                <div class="field" style="float: left; width: 110px;">{% trans %}label.color{% endtrans %}</div>
                <div class="field" style="float: left; width: 110px;">{% trans %}label.telephone{% endtrans %}</div>
                <div class="field" style="float: left; width: 110px;">{% trans %}label.capacity{% endtrans %}</div>
            </div>

            {% for entity in entities %}
            <div class="fields_row">
                <div class="field_value" style="float: left; width: 115px;">{{ entity.licensePlate }}</div>
                <div class="field_value" style="float: left; width: 300px;">{{ entity.driver }}</div>
                <div class="field_value" style="float: left; width: 110px;">{{ entity.color }}</div>
                <div class="field_value" style="float: left; width: 110px;">{{ entity.telephone }}</div>
                <div class="field_value" style="float: left; width: 110px;">{{ entity.capacity }}</div>
                <div class="clear"></div>
            </div>
            {% else %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            {% endfor %}
            <div class="footer">
                Total de buses: {{ entities|length }}
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
</div>
{% endblock %}