{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Reporte Estudiantes
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-timepicker-addon.css') }}" type="text/css" media="all"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ asset('js/jquery.printElement.min.js') }}"></script>
    <script type="text/javascript">
        Tecnotek.module = "reports";
        Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
        Tecnotek.UI.urls["saveAbsenceURL"] = "{{ path('_expediente_absences_save')}}";
        Tecnotek.UI.urls["deleteURL"] = "{{ path("_delete_absence_simple") }}";
        Tecnotek.UI.translates["confirmDelete"] = "{% trans %}messages.confirmation.absence.delete{% endtrans %}";
    </script>
{% endblock %}

{% block content %}
    <div class="container_24">
    <div class="grid_24">
    <div>
        <div class="left">
            <h3>{% trans %}label.report.students.title{% endtrans %}</h3>
        </div>
        <div class="left" style="line-height: 48px; margin-left: 25px;">
            <span>{% trans %}label.report.students.subtitle{% endtrans %}</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="filter-search table">
        <div class="internal">
            <form id="searchForm" action="{{ path('_expediente_report_students') }}" method="post">
                <div class="left">
                    <label>{%trans%}label.generate.by{%endtrans%}:</label>
                    <input type="radio" name="tipo" value="1" {% if tipo==1 or tipo==0 %}checked{% endif %} > {%trans%}label.group{%endtrans%}

                    <input type="radio" name="tipo" value="2" {% if tipo==2 %}checked{% endif %}> {%trans%}label.grade{%endtrans%}

                    <input type="radio" name="tipo" value="3" {% if tipo==3 %}checked{% endif %}> {%trans%}label.institution{%endtrans%}

                    <input type="checkbox" class="check" id="iSpecial" name="iSpecial" {% if iSpecial != null %}checked="checked"{% endif %}>{%trans%}Impresion Lista{%endtrans%}
                    </br>
                    <input type="checkbox" class="check" id="iSpecialTiq" name="iSpecialTiq" {% if iSpecialTiq != null %}checked="checked"{% endif %}>{%trans%}Impresion Tiquetes{%endtrans%}

                    <input type="checkbox" class="check" id="autoTiq" name="autoTiq" {% if autoTiq != null %}checked="checked"{% endif %}>{%trans%}Impresion T. Autorizacion{%endtrans%}

                    <input type="checkbox" class="check" id="carneTiq" name="carneTiq" {% if carneTiq != null %}checked="checked"{% endif %}>{%trans%}Impresion Carne Estudiantil{%endtrans%}
                </div>
                <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="right button success-darker tiny" name="search"><span></span>{% trans %}label.generate{% endtrans %}</button>
                <div class="clear"></div>
                <div>
                    <label style="width: 126px;">{%trans%}label.include.in.report{%endtrans%}:</label>
                    <input type="checkbox" class="check" id="gender" name="gender" {% if gender != null %}checked="checked"{% endif %}>{%trans%}label.gender{%endtrans%}
                    <input type="checkbox" class="check" id="age" name="age" {% if age != null %}checked="checked"{% endif %}>{%trans%}label.age{%endtrans%}
                    <input type="checkbox" class="check" id="address" name="address" {% if address != null %}checked="checked"{% endif %}>{%trans%}label.address{%endtrans%}
                    <input type="checkbox" class="check" id="identification" name="identification" {% if identification != null %}checked="checked"{% endif %}>{%trans%}label.identification{%endtrans%}
                    <input type="checkbox" class="check" id="birthday" name="birthday" {% if birthday != null %}checked="checked"{% endif %}>{%trans%}label.birthday{%endtrans%}
                    <input type="checkbox" class="check" id="laterality" name="laterality" {% if laterality != null %}checked="checked"{% endif %}>{%trans%}label.laterality{%endtrans%}
                </div>
                <hr>
                <div>
                    <label style="width: 126px;">Filtrar por:</label>
                    <label style="width: 45px;">Grupo:</label>
                    <select  {% if institutions != null  %} disabled {% else %} {% if  grades != null %} disabled {% endif %}{% endif %} id="groupSelect" name="groupSelect" style="width: 100px">
                        <option value="0">Todos</option>
                        {% for groupT in groupsT %}
                            <option value="{{ groupT.id }}">{{groupT.grade}} {{groupT}}</option>
                        {% endfor %}
                    </select>
                    <label style="width: 40px;">Nivel:</label>
                    <select {% if institutions != null %} disabled {% endif %} id="grade" name="grade" style="width: 100px">
                        <option value="0">Todos</option>
                        {% for gradeT in gradesT %}
                            <option value="{{ gradeT.id }}">{{gradeT}}</option>
                        {% endfor %}
                    </select>
                    <label style="width: 75px;">Institucion:</label>
                    <select {% if grades != null %} disabled {% endif %} id="institution" name="institution" style="width: 100px">
                        <option value="0">Todos</option>
                        {% for institutionT in institutionsT %}
                            <option value="{{ institutionT.id }}">{{institutionT}}</option>
                        {% endfor %}
                    </select>
                </div>



            </form>
        </div>
    </div>
    {% set counterM = 0 %}
    {% set counterF = 0 %}

    {% set counterL1 = 0 %}
    {% set counterL2 = 0 %}

    {% set numColumns = 0 %}
    {% if age == null %}{% set numColumns = numColumns + 1 %}{% endif %}
    {% if gender == null %}{% set numColumns = numColumns + 1 %}{% endif %}
    {% if birthday == null %}{% set numColumns = numColumns + 1 %}{% endif %}
    {% if identification == null %}{% set numColumns = numColumns + 1 %}{% endif %}
    {% set widthAdress = 150 + (75* numColumns) %}



    {% if tipo != 0 %}
        <div style="margin-top: 15px;">
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right button success-darker tiny" id="btnPrint" name="btnPrint" rel="Reporte de Clubes"><span></span>{% trans %}label.print{% endtrans %}</button>
            <div class="clear"></div>
        </div>

        <div id="report" style="margin-top: 25px; width: 950px;">
        {% if groups != null %}
            {% if carneTiq != null %}

                {% for group in groups %}
                    <div class="groupContainer groupS_{{ group.id }} inst_{{ group.institution.id }} niv_{{ group.grade.id }}">

                        <div class="fields_row route">
                            <p style="text-decoration: underline; padding-bottom: 0px;">Nivel: {{ group.grade ~ " - " ~ group }}</p>
                        </div>
                        <table class="neuvas" style="border-width: 2px; border-style: solid;">
                            {% set i = 1 %}
                            {% set j = 0 %}
                            {% for student in group.students %}
                            {% if i == 1 %}
                            <tr>
                                {% endif %}
                                <td style="width: 425px; text-align: right;"  BACKGROUND="{{ asset('images/estudiantescarne.png') }}">
                                    </br></br></br></br></br></br></br></br>
                                    <span style="font-family:arial;font-size:19px;">{{ student.lastname ~ ", " ~ student.firstname }}</span></br>
                                    </br></br></br></br>
                                    <span style="font-family:arial;font-size:16px;">Carne: {{ student.carne }}</span></br>
                                    <span style="font-family:arial;font-size:16px;"> Seccion: {{ student.groupyear }}</span></br>
                                    <span style="font-family:arial;font-size:16px;">{{ student.birthday }}</span>
                                    </br></br></br></td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                {% set j = j+1 %}
                                {% if i == 2 %}
                            </tr>
                            <tr>
                                <td colspan="4" bgcolor="#FFFFFF">&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            {% endif %}

                            {% if i < 3 %}
                                {% set i = i + 1 %}
                            {% endif %}

                            {% if i == 3 %}
                                {% set i = 1 %}
                            {% endif %}

                            <div class="clear"></div>
                            {% if j == 8 %}
                        </table>

                        <div class="pageBreak"> </div>
                        <table style="border-width: 2px; border-style: solid;">
                            {% set j = 0 %}
                            {% endif %}
                            {% endfor %}

                        </table>

                        <div class="pageBreak"> </div>
                    </div>
                {% else %}
                    <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                        <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}

            {% else %} <!-- specialautorizacion  -->

                {% if autoTiq != null %}

                    {% for group in groups %}
                        <div class="groupContainer groupS_{{ group.id }} inst_{{ group.institution.id }} niv_{{ group.grade.id }}">

                            <div class="fields_row route">
                                <p style="text-decoration: underline; padding-bottom: 0px;">Nivel: {{ group.grade ~ " - " ~ group }}</p>
                            </div>
                            <table style="border-width: 2px; border-style: solid;">
                                {% set i = 1 %}
                                {% set j = 0 %}
                                {% for student in group.students %}
                                {% if i == 1 %}
                                <tr>
                                    {% endif %}
                                    <td style="width: 425px; text-align: left;">
                                        <img width="420" height="150"  src="{{ asset('images/autoTiq.png') }}"></br></br>
                                        <span style="font-family:arial;font-size:16px;">Carne: {{ student.carne }}</span></br>
                                        <span style="font-family:arial;font-size:16px;">Nombre: {{ student.lastname ~ ", " ~ student.firstname }}</span>
                                        </br><span style="font-family:arial;font-size:16px;"> Seccion: {{ student.groupyear }}</span></br></br>
                                        <span style="font-family:arial;font-size:12px;">PRESENTE ESTA TARJETA PARA APLICAR EXAMENES Y RESULTADOS</span></br></br></td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                    {% set j = j+1 %}
                                    {% if i == 2 %}
                                </tr>
                                {% endif %}

                                {% if i < 3 %}
                                    {% set i = i + 1 %}
                                {% endif %}

                                {% if i == 3 %}
                                    {% set i = 1 %}
                                {% endif %}

                                <div class="clear"></div>
                                {% if j == 8 %}
                            </table>
                            <div class="pageBreak"> </div>
                            <table style="border-width: 2px; border-style: solid;">
                                {% set j = 0 %}
                                {% endif %}
                                {% endfor %}

                            </table>

                            <div class="pageBreak"> </div>
                        </div>
                    {% else %}
                        <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                            <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}

                {% else %} <!-- specialautorizacion  -->

                    {% if iSpecialTiq != null %}

                        {% for group in groups %}
                            <div class="groupContainer groupS_{{ group.id }} inst_{{ group.institution.id }} niv_{{ group.grade.id }}">

                                <div class="fields_row route">
                                    <p style="text-decoration: underline; padding-bottom: 0px;">Nivel: {{ group.grade ~ " - " ~ group }}</p>
                                </div>
                                <table style="border-width: 2px; border-style: solid;">
                                    {% set i = 1 %}
                                    {% for student in group.students %}
                                        {% if i == 1 %}
                                            <tr>
                                        {% endif %}
                                        <td style="width: 285px;"><span style="font-family:arial;font-size:16px;">Carne: {{ student.carne }}</span></br>
                                            <span style="font-family:arial;font-size:16px;">Nombre: {{ student.lastname ~ ", " ~ student.firstname }}</span>
                                            </br><span style="font-family:arial;font-size:16px;"> Seccion: {{ student.groupyear }}</span></br></br></br></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        {% if i == 3 %}
                                            </tr>
                                        {% endif %}

                                        {% if i < 4 %}
                                            {% set i = i + 1 %}
                                        {% endif %}

                                        {% if i == 4 %}
                                            {% set i = 1 %}
                                        {% endif %}

                                        <div class="clear"></div>
                                    {% endfor %}
                                </table>
                                <div class="pageBreak"> </div>
                            </div>
                        {% else %}
                            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                                <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                                <div class="clear"></div>
                            </div>
                        {% endfor %}
                    {% else %} <!-- specialTiq  -->
                        {% if iSpecial == null %}
                            {% for group in groups %}
                                <div class="groupContainer group_{{ group.id }} inst_{{ group.institution.id }} niv_{{ group.grade.id }}">
                                    <div class="titles" style="font-size: 10px;">
                                        <div class="left"><span style="font-family:arial;font-size:16px;">{{corpo_name}}</span></div>
                                        <div class="right"><span style="font-family:arial;font-size:16px;">Reporte de estudiantes. Curso Lectivo 2014</span></div>
                                        <div class="clear"></div>

                                        <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                                        <div class="clear"></div>

                                        <p style="text-align: center;padding-bottom: 0px;"><span style="font-family:arial;font-size:16px;">Estudiantes por {{ typeLabel }}</span></p>
                                        <p style="text-align: center; padding-bottom: 0px;"><span style="font-family:arial;font-size:16px;">Ordenados por Nombre</span></p>
                                    </div>
                                    <div class="fields_row route">
                                        <p style="text-decoration: underline; padding-bottom: 0px;"><span style="font-family:arial;font-size:16px;">Nivel: {{ group.grade ~ " - " ~ group }}</p>
                                    </div>
                                    <div class="fields_row student_title">
                                        <div style="float: left; width: 75px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.carne{%endtrans%}</span></div>
                                        <div style="float: left; width: 400px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.student.name{%endtrans%}</span></div>
                                        {% if age != null %}
                                            <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.age{%endtrans%}</span></div>
                                        {% endif %}
                                        {% if gender != null %}
                                            <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.gender{%endtrans%}</span></div>
                                        {% endif %}
                                        {% if birthday != null %}
                                            <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.birthday{%endtrans%}</span></div>
                                        {% endif %}
                                        {% if identification != null %}
                                            <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.identification{%endtrans%}</span></div>
                                        {% endif %}
                                        {% if laterality != null %}
                                            <div style="float: left; width: 100px;">{%trans%}label.laterality{%endtrans%}</div>
                                        {% endif %}
                                        {% if address != null %}
                                            <div style="float: left; width: {{ widthAdress }}px;"><span style="font-family:arial;font-size:16px;">{%trans%}label.address{%endtrans%}</span></div>
                                        {% endif %}
                                        <div style="float: left; width: 60px;"></div>
                                        <div class="clear"></div>
                                    </div>
                                    {% set counterF = 0 %}
                                    {% set counterM = 0 %}
                                    {% for student in group.students %}
                                        <div class="student_row">
                                            <div style="float: left; width: 75px;"><span style="font-family:arial;font-size:16px;">{{ student.carne }}</span></div>
                                            <div style="float: left; width: 400px;"><span style="font-family:arial;font-size:16px;">{{ student.lastname ~ ", " ~ student.firstname }}</span></div>
                                            {% if age != null %}
                                                <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;"> &nbsp {{ student.age }}</span></div>
                                            {% endif %}
                                            {% if gender != null %}
                                                <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;"> &nbsp {% if student.gender == 1%}{% set counterM = counterM + 1 %}{% trans %}label.male{% endtrans %}{% else %}{% set counterF = counterF + 1 %}{% trans %}label.female{% endtrans %}{% endif %}</span></div>
                                            {% endif %}
                                            {% if birthday != null %}
                                                <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;"> &nbsp {{ student.birthday }}</span></div>
                                            {% endif %}
                                            {% if identification != null %}
                                                <div style="float: left; width: 100px;"><span style="font-family:arial;font-size:16px;"> &nbsp {{ student.identification }}</span></div>
                                            {% endif %}
                                            {% if laterality != null %}
                                                <div style="float: left; width: 100px;"> &nbsp {% if student.laterality == 1%}{% set counterL1 = counterL1 + 1 %}{% trans %}label.diestro{% endtrans %}{% else %}{% set counterL2 = counterL2 + 1 %}{% trans %}label.zurdo{% endtrans %}{% endif %}</div>
                                            {% endif %}
                                            {% if address != null %}
                                                <div style="float: left; width: {{ widthAdress }}px;"><span style="font-family:arial;font-size:16px;">  {{ student.address }} &nbsp </span></div>
                                            {% endif %}
                                            <div style="float: left; width: 60px;">&nbsp;</div>
                                        </div>
                                        <div class="clear"></div>
                                    {% endfor %}
                                    <div class="student_footer">
                                <span style="font-family:arial;font-size:16px;">Total de estudiantes en el nivel: {{ group.students|length }}
                                    Total de hombres:  {{ counterM }}
                                    Total de mujeres:  {{ counterF }}
                                    {% if laterality != null %}
                                        </br>
                                        Totales Lateralidad: {{ group.students|length }}
                                        Total de diestros:  {{ counterL1 }}
                                        Total de zurdos:  {{ counterL2 }}
                                    {% endif %}
                                </span>
                                    </div>

                                    <div class="pageBreak"> </div>
                                </div>
                            {% else %}
                                <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                                    <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                                    <div class="clear"></div>
                                </div>

                            {% endfor %}
                        {% else %} <!-- special  -->
                            {% for group in groups %}
                                <div class="groupContainer groupS_{{ group.id }} inst_{{ group.institution.id }} niv_{{ group.grade.id }}">
                                    <div class="titles" style="font-size: 10px;">
                                        <div class="left">{{corpo_name}}</div>
                                        <div class="right">Reporte de estudiantes. Curso Lectivo 2014</div>
                                        <div class="clear"></div>

                                        <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                                        <div class="clear"></div>

                                        <p style="text-align: center;padding-bottom: 0px;">Estudiantes por {{ typeLabel }}</p>
                                        <p style="text-align: center; padding-bottom: 0px;">Ordenados por Nombre</p>
                                    </div>
                                    <div class="fields_row route">
                                        <p style="text-decoration: underline; padding-bottom: 0px;">Nivel: {{ group.grade ~ " - " ~ group }}</p>
                                    </div>
                                    <table style="border-width: 1px; border-style: solid;">
                                        <tr>
                                            <td style="float: left;  width: 75px; height: 22px;"><span style="font-family:arial;font-size:18px;">{%trans%}label.carne{%endtrans%}</span></td>
                                            <td style="float: left; width: 450px; height: 22px;"><span style="font-family:arial;font-size:18px;">{%trans%}label.student.name{%endtrans%}</span></td>
                                            {% if age != null %}
                                                <td style="float: left; width: 100px;">{%trans%}label.age{%endtrans%}</td>
                                            {% endif %}
                                            {% if gender != null %}
                                                <td style="float: left; width: 100px;">{%trans%}label.gender{%endtrans%}</td>
                                            {% endif %}
                                            {% if birthday != null %}
                                                <td style="float: left; width: 100px;">{%trans%}label.birthday{%endtrans%}</td>
                                            {% endif %}
                                            {% if identification != null %}
                                                <td style="float: left; width: 100px;">{%trans%}label.identification{%endtrans%}</td>
                                            {% endif %}
                                            {% if address != null %}
                                                <td style="float: left; width: {{ widthAdress }}px;">{%trans%}label.address{%endtrans%}</td>
                                            {% endif %}
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                        </tr>

                                        {% set counterF = 0 %}
                                        {% set counterM = 0 %}
                                        {% for student in group.students %}
                                            <tr>
                                                <td style="float: left; width: 75px;  height: 22px;"><span style="font-family:arial;font-size:18px;">{{ student.carne }}</span></td>
                                                <td style="float: left; width: 450px;  height: 22px;"><span style="font-family:arial;font-size:18px;">{{ student.lastname ~ ", " ~ student.firstname }}</span></td>
                                                {% if age != null %}
                                                    <td style="float: left; width: 100px;"> &nbsp {{ student.age }}</td>
                                                {% endif %}
                                                {% if gender != null %}
                                                    <td style="float: left; width: 100px;"> &nbsp {% if student.gender == 1%}{% set counterM = counterM + 1 %}{% trans %}label.male{% endtrans %}{% else %}{% set counterF = counterF + 1 %}{% trans %}label.female{% endtrans %}{% endif %}</td>
                                                {% endif %}
                                                {% if birthday != null %}
                                                    <td style="float: left; width: 100px;"> &nbsp {{ student.birthday }}</td>
                                                {% endif %}
                                                {% if identification != null %}
                                                    <td style="float: left; width: 100px;"> &nbsp {{ student.identification }}</td>
                                                {% endif %}
                                                {% if address != null %}
                                                    <td style="float: left; width: {{ widthAdress }}px;">  {{ student.address }} &nbsp </td>
                                                {% endif %}
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                                <td style="width: 30px; height: 22px; border-width: 1px; border-style: solid;">&nbsp</td>
                                            </tr>

                                            <div class="clear"></div>
                                        {% endfor %}
                                    </table>
                                    <div class="student_footer">
                                        Total de estudiantes en el nivel: {{ group.students|length }}
                                        Total de hombres:  {{ counterM }}
                                        Total de mujeres:  {{ counterF }}
                                        {% if laterality != null %}
                                            </br>
                                            Totales Lateralidad: {{ group.students|length }}
                                            Total de diestros:  {{ counterL1 }}
                                            Total de zurdos:  {{ counterL2 }}
                                        {% endif %}
                                    </div>

                                    <div class="pageBreak"> </div>
                                </div>
                            {% else %}
                                <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                                    <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                                    <div class="clear"></div>
                                </div>

                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if grades != null %}
                {% for grade in grades %}
                    <div class="groupContainer niv_{{ grade.id }}">
                        <div class="titles" style="font-size: 10px;">
                            <div class="left">{{corpo_name}}</div>
                            <div class="right">Reporte de estudiantes. Curso Lectivo 2014</div>
                            <div class="clear"></div>

                            <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                            <div class="clear"></div>

                            <p style="text-align: center;padding-bottom: 0px;">Estudiantes por {{ typeLabel }}</p>
                            <p style="text-align: center; padding-bottom: 0px;">Ordenados por Nombre</p>
                        </div>
                        <div class="fields_row route">
                            <p style="text-decoration: underline; padding-bottom: 0px;">Grade: {{ grade }}</p>
                        </div>
                        <div class="fields_row student_title">
                            <div style="float: left; width: 50px;">{%trans%}label.carne{%endtrans%}</div>
                            <div style="float: left; width: 350px;">{%trans%}label.student.name{%endtrans%}</div>
                            {% if age != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.age{%endtrans%}</div>
                            {% endif %}
                            {% if gender != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.gender{%endtrans%}</div>
                            {% endif %}
                            {% if birthday != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.birthday{%endtrans%}</div>
                            {% endif %}
                            {% if identification != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.identification{%endtrans%}</div>
                            {% endif %}
                            {% if laterality != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.laterality{%endtrans%}</div>
                            {% endif %}
                            {% if address != null %}
                                <div style="float: left; width: {{ widthAdress }}px;">{%trans%}label.address{%endtrans%}</div>
                            {% endif %}
                            <div style="float: left; width: 60px;"></div>
                            <div class="clear"></div>
                        </div>
                        {% set counterF = 0 %}
                        {% set counterM = 0 %}
                        {% for student in grade.students %}
                            <div class="student_row">
                                <div style="float: left; width: 50px;">{{ student.carne }}</div>
                                <div style="float: left; width: 350px;">{{ student.lastname ~ ", " ~ student.firstname }}</div>
                                {% if age != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.age }}</div>
                                {% endif %}
                                {% if gender != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {% if student.gender == 1%}{% set counterM = counterM + 1 %}{% trans %}label.male{% endtrans %}{% else %}{% set counterF = counterF + 1 %}{% trans %}label.female{% endtrans %}{% endif %}</div>
                                {% endif %}
                                {% if birthday != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.birthday }}</div>
                                {% endif %}
                                {% if identification != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.identification }}</div>
                                {% endif %}
                                {% if laterality != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {% if student.laterality == 1%}{% set counterL1 = counterL1 + 1 %}{% trans %}label.diestro{% endtrans %}{% else %}{% set counterL2 = counterL2 + 1 %}{% trans %}label.zurdo{% endtrans %}{% endif %}</div>
                                {% endif %}
                                {% if address != null %}
                                    <div style="float: left; width: {{ widthAdress }}px;"> {{ student.address }} &nbsp </div>
                                {% endif %}
                                <div style="float: left; width: 60px;">&nbsp;</div>
                            </div>
                            <div class="clear"></div>
                        {% endfor %}
                        <div class="student_footer">
                            Total de estudiantes en el grado: {{ grade.students|length }}
                            Total de hombres:  {{ counterM }}
                            Total de mujeres:  {{ counterF }}
                        </div>
                        <div class="pageBreak"> </div>
                    </div>
                {% else %}
                    <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                        <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            {% else %}
                {% for institution in institutions %}
                    <div class="groupContainer inst_{{ institution.id }}">
                        <div class="titles" style="font-size: 10px;">
                            <div class="left">{{corpo_name}}</div>
                            <div class="right">Reporte de estudiantes. Curso Lectivo 2014</div>
                            <div class="clear"></div>

                            <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                            <div class="clear"></div>

                            <p style="text-align: center;padding-bottom: 0px;">Estudiantes por {{ typeLabel }}</p>
                            <p style="text-align: center; padding-bottom: 0px;">Ordenados por Nombre</p>
                        </div>
                        <div class="fields_row route">
                            <p style="text-decoration: underline; padding-bottom: 0px;">Instituci&oacute;n: {{ institution }}</p>
                        </div>
                        <div class="fields_row student_title">
                            <div style="float: left; width: 50px;">{%trans%}label.carne{%endtrans%}</div>
                            <div style="float: left; width: 350px;">{%trans%}label.student.name{%endtrans%}</div>
                            {% if age != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.age{%endtrans%}</div>
                            {% endif %}
                            {% if gender != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.gender{%endtrans%}</div>
                            {% endif %}
                            {% if birthday != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.birthday{%endtrans%}</div>
                            {% endif %}
                            {% if identification != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.identification{%endtrans%}</div>
                            {% endif %}
                            {% if laterality != null %}
                                <div style="float: left; width: 100px;">{%trans%}label.laterality{%endtrans%}</div>
                            {% endif %}
                            {% if address != null %}
                                <div style="float: left; width: {{ widthAdress }}px;">{%trans%}label.address{%endtrans%}</div>
                            {% endif %}
                            <div style="float: left; width: 60px;"></div>
                            <div class="clear"></div>
                        </div>
                        {% for student in institution.students %}
                            <div class="student_row">
                                <div style="float: left; width: 50px;">{{ student.carne }}</div>
                                <div style="float: left; width: 350px;">{{ student.lastname ~ ", " ~ student.firstname }}</div>
                                {% if age != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.age }}</div>
                                {% endif %}
                                {% if gender != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {% if student.gender == 1%}{% trans %}label.male{% endtrans %}{% else %}{% trans %}label.female{% endtrans %}{% endif %}</div>
                                {% endif %}
                                {% if birthday != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.birthday }}</div>
                                {% endif %}
                                {% if identification != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {{ student.identification }}</div>
                                {% endif %}
                                {% if laterality != null %}
                                    <div style="float: left; width: 100px;"> &nbsp {% if student.laterality == 1%}{% set counterL1 = counterL1 + 1 %}{% trans %}label.diestro{% endtrans %}{% else %}{% set counterL2 = counterL2 + 1 %}{% trans %}label.zurdo{% endtrans %}{% endif %}</div>
                                {% endif %}
                                {% if address != null %}
                                    <div style="float: left; width: {{ widthAdress }}px;"> {{ student.address }} &nbsp </div>
                                {% endif %}
                                <div style="float: left; width: 60px;">&nbsp;</div>
                            </div>
                            <div class="clear"></div>
                        {% endfor %}
                        <div class="student_footer">
                            Total de estudiantes en la instituci&oacute;n: {{ institution.students|length }}
                        </div>
                        <div class="pageBreak"> </div>
                    </div>
                {% else %}
                    <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                        <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>

    {% endif %}

    </div>
    <div class="clear"></div>
    <div class="wrapper">
        <div class="grid_24 padline">
            <div class="lineH"></div>
        </div>
    </div>
    </div>
{% endblock %}