{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Reportes
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/jquery.printElement.min.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "reports";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div class="left">
                <h3>{% trans %}label.reports.routes.by.zone{% endtrans %}</h3>
            </div>
            <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right button success-darker tiny" id="btnPrint" name="btnPrint" rel="Rutas por Zona"><span></span>{% trans %}label.print{% endtrans %}</button>
            <div class="clear"></div>
        </div>

        <div id="report" style="margin-top: 25px; width: 950px;">

            <div class="titles" style="font-size: 10px;">
                <div class="left">Corporación Educativa Saint Michael S.A.</div>
                <div class="right">Control de Buses Escuela.</div>
                <div class="clear"></div>

                <div class="left">{{ "now"|date("d/M/Y H:i:s") }}</div>
                <div class="clear"></div>

                <p style="text-align: center;">Rutas Asignadas por Zona</p>
            </div>

            {% for entity in entities %}
            {% set zoneCounter = 0 %}
            <div class="fields_row">
                <div class="field_value" style="text-align: center;">Zona {{ loop.index }}: {{ entity.name }}</div>
                <div class="clear"></div>
            </div>
            {% for route in entity.routes if route.routeType == 1 %}
            <div class="fields_row route">
                Ruta {{ loop.index }}: {{ route.code ~ " - " ~ route.description }}
            </div>
            <div class="fields_row student_title">
                <div style="float: left; width: 115px;">{%trans%}label.carne{%endtrans%}</div>
                <div style="float: left; width: 300px;">{%trans%}label.student.name{%endtrans%}</div>
                <div style="float: left; width: 115px;">{%trans%}label.section{%endtrans%}</div>
                <div style="float: left; width: 115px;">{%trans%}label.address{%endtrans%}</div>
                <div class="clear"></div>
            </div>
            {% for student in route.students %}
            <div class="student_row">
                <div style="float: left; width: 115px;">{{ student.carne }}</div>
                <div style="float: left; width: 300px;">{{ student }}</div>
                <div style="float: left; width: 115px;">{{ student.groupyear }}</div>
                <div style="float: left; width: 390px;">{{ student.address }}</div>
            </div>
            <div class="clear"></div>
            {% endfor %}
            <div class="student_footer">
                Total de estudiantes por ruta: {{ route.students|length}}
                {% set zoneCounter = zoneCounter + (route.students|length) %}
            </div>
                <div class="pageBreak"> </div>
            {% endfor %}
            <div class="footer">
                Total de estudiantes por zona: {{ zoneCounter }}
            </div>

            {% else %}
            <div class="row userRow {% if loop.index%2 == 0 %}tableRowOdd{%else%}tableRow{% endif %}">
                <div class="option_width" style="float: left; width: 375px;">{% trans %}results.not.found{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
        <div class="grid_24 padline">
            <div class="lineH"></div>
        </div>
    </div>
</div>
{% endblock %}