{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Sancion
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24" style="width: 800px;">
    <div class="grid_24" style="width: 100%;">
        <div class="titleRow">
            <div class="left"><h3>{% trans %}label.penalty.show{% endtrans %}</h3></div>
            <div class="right"><a href="{{ path('_expediente_penalties') }}" class="button success-darker tiny"><span></span>{% trans %}label.back.list{% endtrans %}</a></div>
            <div class="clear"></div>
        </div>

        <div class="panelRow" id="doc-forms">
            <div class="large-12 columns">

                <form class="customForm" id="mainForm" name="mainForm" action="{{ path('_expediente_sysadmin_penalties_update') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{ entity.id }}">
                    {{ form_errors(form) }}

                    {{ form_widget(form._token) }}

                    <fieldset>
                        <legend></legend>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.studentYear) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.student{% endtrans %}</label>
                                <input type="hidden" id="tecnotek_expediente_studentPenaltyformtype_studentYear" name="tecnotek_expediente_studentPenaltyformtype[studentYear]" value="{{ entity.studentYear.id }}">
                                {{ entity.studentYear }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.date) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.date{% endtrans %}</label>{{ form_widget(form.date) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.penalty) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.penalty.type{% endtrans %}</label>{{ form_widget(form.penalty) }}
                            </div>
                        </div>

                        <div class="formRow">
                            <label class="error">{{ form_errors(form.comments) }}</label>
                            <div class="large-12 columns">
                                <label>{% trans %}label.comments{% endtrans %}</label>{{ form_widget(form.comments) }}
                            </div>
                        </div>


                        <div class="formRow ">
                            <div class="large-12 columns buttonsPanel">
                                <a href="{{ path('_expediente_penalties') }}" class="button success-darker tiny"><span></span>{% trans %}label.cancelar{% endtrans %}</a>
                                <button style="margin-left: 15px; margin-top: 0px;" type="submit" class="button success-darker tiny" name="save"><span></span>{% trans %}label.save{% endtrans %}</button>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

{% endblock %}