{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador :: Usuarios
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/jquery.jstree.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.hotkeys.js') }}"></script>

<script type="text/javascript">
    Tecnotek.module = "permisosUsuarios";
    Tecnotek.imagesURL = "/images";
    Tecnotek.assetsURL = "{{ path('TecnotekExpedienteBundle_homepage')}}";
    Tecnotek.UI.urls["savePrivilegesURL"] = "{{ path('_expediente_access_save')}}";
    Tecnotek.UI.urls["getPrivilegesURL"] = "{{ path('_expediente_load_privileges')}}";
</script>
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
        <div>
            <div><h3>{% trans %}label.accesos.usuarios.title{% endtrans %}</h3></div>
            <h4><small>{% trans %}label.accesos.usuarios.subtitle{% endtrans %}</small></h4>
            <div class="clear"></div>
        </div>

        <div class="left table" style="width: 400px">
            <div class="row tableHeader" style="padding: 0px 5px;">
                <div class="option_width selectList" style="float: left; width: 400px;">{% trans %}label.users{% endtrans %}</div>
            </div>

            <select class="selectList" id="users" name="users" size="20" style="width: 397px; font-size: 12px;">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="right table" style="width: 500px; display: none;" id="privilegesContainer" name="privilegesContainer">
            <div class="row tableHeader" style="padding: 0px 5px;">
                <div class="option_width selectList" style="float: left; width: 300px;">{% trans %}label.access{% endtrans %}</div>
            </div>

            <div id="demo1" class="demo" style="height:100%; font-size: 12px;">
                <ul>
                    {% for permiso in permisos %}
                    <li id="{{ permiso.id }}" name="{{ permiso.id }}">
                        <a href="#">{{ permiso }}</a>

                        {% if permiso.childrens|length > 0 %}
                        <ul>
                            {% for children in permiso.childrens %}
                            <li id="{{ children.id }}" name="{{ children.id }}">
                                <a href="#">{{ children }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div style="margin-top: 10px;">
                <button style="margin-left: 15px; margin-top: 0px;" type="button" class="right button success-darker tiny" id="btnSave" name="btnSave"><span></span>Guardar</button>
            </div>

        </div>


        <br/>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}